{% extends 'base.html' %}
{% block title %}{{ article.title }} - 杜赛的个人网站{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 card" id="sticky-sidebar">
                <div class="sticky-top">
                    {% include 'course/slider.html' %}
                </div>
            </div>
            <div class="col" id="main">
                {% include 'article/detail_base.html' %}
            </div>
            <div class="col-2 card" id="sticky-sidebar" style="z-index: -100">
                <div class="sticky-top">
                    {% include 'course/slider.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}