{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ article.title }} - 杜赛的个人网站{% endblock %}
{% block content %}
    <!-- 塌方按钮 -->
    <nav class="navbar navbar-light d-md-none" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#hidden-toc" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-book" style="font-size: xx-large"></i>
        </button>
    </nav>
    <div class="collapse" id="hidden-toc">
        <div class="ml-4 mr-4">
            {% include 'course/slider.html' %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!-- 左目录 -->
            <div class="col-3 col-lg-2 card d-none d-md-block" id="left-sidebar">
                <div class="sidebar" id="sidebar">
                    <div class="sidebar__inner">
                        {% include 'course/slider.html' %}
                    </div>
                </div>
            </div>

            <!-- 正文 -->
            <div class="col-lg-8 col-md-9" id="main">
                {% include 'article/detail_base.html' %}
            </div>

            <!-- 右目录 -->
            <div class="col-2 card d-none d-lg-block collapse" id="right-sidebar" style="z-index: 1">
                <div class="sidebar2" id="sidebar2">
                    <div class="sidebar__inner2">
                        {% include 'course/right_slider.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
    <script>
        $('#sidebar').stickySidebar({
            topSpacing: 0,
            bottomSpacing: 0,
        });
        $('#sidebar2').stickySidebar({
            topSpacing: 0,
            bottomSpacing: 0
        });

        $(document).ready(function () {
            setTimeout(function () {
                var sidebar = document.getElementById('sidebar');
                var stickySidebar = new StickySidebar(sidebar);
                stickySidebar.updateSticky();
            }, 3000);

        });


    </script>
    <style>
        .sidebar {
            will-change: min-height;
        }

        .sidebar__inner {
            transform: translate(0, 0);
            will-change: position, transform;
        }

        .sidebar2 {
            will-change: min-height;
        }

        .sidebar__inner2 {
            transform: translate(0, 0);
            will-change: position, transform;
        }
    </style>
{% endblock %}