{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load coursetags %}
{% block title %}教程 - 杜赛的个人网站{% endblock %}
{% block content %}
    <div class="layui-row layui-card">
        {#        <br/>#}
        {% for course in courses %}
            <div class="layui-col-md6 layui-col-lg4 layui-col-sm6" id="course">
                <br/>
                {% if course.avatar_thumbnail %}
                    <div>
                        <a href="{% url 'course:course_articles_list' course.id %}" id="course_title">
                            <img src="{{ course.avatar_thumbnail.url }}" style="box-shadow: 1px 1px 3px black; border-radius: 16px"></a>
                    </div>
                {% endif %}
                <h3 style="margin-top: 5px"><a href="{% url 'course:course_articles_list' course.id %}" id="course_title">
                    {{ course.title }}</a></h3>
                <p>
                    <span style="color: #5897fb;">{% course_total_views course.id %}阅读 {% course_total_articles course.id %}篇文章</span>
                    {% if course.is_finished %}
                        <span style="color: #01a252">[<i class="layui-icon layui-icon-ok-circle"></i>已完结]</span>
                    {% else %}
                        <span style="color: #FF5722">[撰写中..]
                    </span>
                    {% endif %}
                </p>
                <br/>
            </div>
        {% endfor %}
    </div>
    <style>
        #course {
            text-align: center;
        }

        #course_title {
            color: black;
        }

        #course_title:hover {
            color: #01a252;
        }
    </style>
{% endblock %}