{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load coursetags %}
{% block title %}教程 - 杜赛的个人网站{% endblock %}
{% block content %}
    <div class="row mt-4 justify-content-center">
        <div class="card-deck">
            {% for course in courses %}
                <div class="">
                    <div class="card mb-4 bg-dark text-white">
                        {% if course.avatar_thumbnail %}
                            <img src="{{ course.avatar_thumbnail.url }}"
                                 class="card-img-top"
                            >
                        {% endif %}
                        <div class="card-body" style="padding-bottom: 0">
                            <h5 class="card-title">
                                <a href="{% url 'course:course_articles_list' course.id %}"
                                   style="color: white;"
                                >
                                    {{ course.title }}
                                </a>
                            </h5>
                            <p class="card-text mb-0">
                                <i class="fas fa-eye" style="color: lightskyblue;"></i>
                                {% course_total_views course.id %}&nbsp;&nbsp;
                                <i class="fas fa-file" style="color: #f0c674;"></i>
                                {% course_total_articles course.id %}&nbsp;&nbsp;
                                {% if course.is_finished %}
                                    <span style="color: greenyellow">[<i class="fas fa-check-circle"></i>已完结]</span>
                                {% else %}
                                    <span style="color: lightpink">[撰写中..]</span>
                                {% endif %}
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}