<div class="card-body" style="padding: 20px 0 0 0;">

    <!-- 目录 -->


    <div id="sidebar" style="overflow: hidden">
        <div class="markdown-body editormd-preview-container" id="custom-toc-container">
            #custom-toc-container
        </div>
    </div>

    <hr>

    <!-- GitHub仓库的小卡片 -->
    {% if article.course.github_repo %}
        <div class="card">
            <div class="card-body">
                {% with article.course.github_repo as repo %}
                    <h6 class="card-title">

                        <a href="https://github.com/{{ repo.user }}/{{ repo.repo }}"
                           target="_blank"
                           style="word-break: break-all; color: dimgray;"
                        >
                            {{ repo.repo }}
                        </a>
                    </h6>

                    <p class="card-text text-muted">{{ repo.description }}</p>
                    <p class="card-text">
                        <iframe src="https://ghbtns.com/github-btn.html?user={{ repo.user }}&repo={{ repo.repo }}&type=star&count=true"
                                frameborder="0"
                                scrolling="0"
                                width="100px"
                                height="30px"
                                style="margin-top: 8px"
                        ></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user={{ repo.user }}&repo={{ repo.repo }}&type=fork&count=true&v=2"
                                frameborder="0"
                                scrolling="0"
                                width="100px"
                                height="20px"
                        ></iframe>
                    </p>
                {% endwith %}
            </div>
        </div>
    {% endif %}
</div>

