<div class="layui-card layui-card-body layui-col-sm3 layui-hide-xs">
    <div class="layui-text" style="font-weight: bold; font-size: large">{{ article.course.title }}</div>
    <hr>
    {% for article_c in course_articles %}
        {% if article_c.id == article.id %}
            <div id="top_layer"><a href="{{ article_c.get_absolute_url }}" style="font-weight: bold; font-size: 16px" class="layui-text">{{ article_c.course_title }}</a></div>
            {#            <li class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container</li>#}
            <div id="sidebar">
                <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container
                </div>
            </div>
        {% else %}
            <div id="top_layer"><a href="{{ article_c.get_absolute_url }}" style="color: #01a252; font-size: 16px">{{ article_c.course_title }}</a></div>
        {% endif %}
    {% endfor %}
</div>
<style>
    #sidebar {
        margin: -5px 0 -20px -15px;
        border-top: 0;
        border-bottom: 0;
        padding-left: -10px;
    }

    #sidebar:hover {
        overflow: auto;
    }

    #sidebar h1 {
        font-size: 16px;
    }

    #custom-toc-container {
        padding-left: 0;
    }
    
    #top_layer {
        z-index: 10;
        position: relative;
    }
</style>