<div class="card-body" style="padding: 20px 0 0 0;">

    <!-- 目录 -->
    <div class="card-text">
        {% for article_c in course_articles %}
            {% if article_c.id == article.id %}
                <h5 style="color: dimgray;"
                    class="mb-0"
                >
                    {{ article_c.course_title }}
                </h5>
            {% else %}
                <p class="mb-0">
                    <a href="{{ article_c.get_absolute_url }}"
                       style="color: grey;"
                    >
                        {{ article_c.course_title }}
                    </a>
                </p>
            {% endif %}
        {% endfor %}
    </div>
</div>

