<div class="card-body" style="padding: 20px 0 0 0; overflow: auto;">
    <!-- 目录 -->
    <div class="card-text" style="overflow: auto">
        {% for article_c in course_articles %}
            {% if article_c.id == article.id %}
                <h5 style="color: lightskyblue;"
                    class="mb-0"
                >
                    {{ article_c.course_title }}
                </h5>
            {% else %}
                <p class="mb-0">
                    <a href="{{ article_c.get_absolute_url }}"
                       style="color: #c0cad8;"
                    >
                        {{ article_c.course_title }}
                    </a>
                </p>
            {% endif %}
        {% endfor %}
    </div>
</div>

