{% extends 'base.html' %}
{% load staticfiles %}
{% load notifications_tags %}
{% block title %}通知列表{% endblock %}
{% block content %}
    <div class="layui-row layui-card layui-card-body">
        <a class="layui-btn layui-btn-normal layui-btn-sm" href="{% url 'my_notifications:mark_all_read' %}">标记全部已读</a>
        <hr/>
        {% for unread in unread_notify %}
            {% if unread.description == 'album' %}
                <p id="green">
                    <a href="{% url 'my_notifications:mark_as_read' unread.target_object_id 0 1 %}"><span
                            style="color: #1E9FFF;">{{ unread.actor }}</span>{% if unread.actor.is_superuser %}
                        <span style="color: #FF5722">[博主]</span>{% endif %} 在照片墙 <span
                            style="color: #01a252;">《{{ unread.target }}》</span>
                        中回复了你。-----{{ unread.timestamp|date:"Y-m-d H:i:s" }}</a>
                </p>
            {% elif unread.description == 'article' %}
                <p>
                    <a href="{% url 'my_notifications:mark_as_read' unread.target_object_id 0 0 %}"><span
                            style="color: #1E9FFF;">{{ unread.actor }}</span>{% if unread.actor.is_superuser %}
                        <span style="color: #FF5722">[博主]</span>{% endif %} 在博客 <span
                            style="color: #01a252;">《{{ unread.target }}》</span>
                        中回复了你。-----{{ unread.timestamp|date:"Y-m-d H:i:s" }}</a>
                </p>
            {% elif unread.description == 'readbook' %}
                <p id="green">
                    <a href="{% url 'my_notifications:mark_as_read' unread.target_object_id 1 0 %}"><span
                            style="color: #1E9FFF;">{{ unread.actor }}</span>{% if unread.actor.is_superuser %}
                        <span style="color: #FF5722">[博主]</span>{% endif %} 在读书 <span
                            style="color: #01a252;">《{{ unread.target }}》</span>
                        中回复了你。-----{{ unread.timestamp|date:"Y-m-d H:i:s" }}</a>
                </p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}