{% extends "base.html" %}

{% load i18n %}

{% block title %}登录中 - 杜赛的个人网站{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h3>登录</h3>
        <hr>
        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
            你正在使用 {{ provider_name }}
            账号登录本站。请确认以下信息：
        {% endblocktrans %}
        </p>
        <br>
        <form id="signup_form"
              method="post"
              action="{% url 'socialaccount_signup' %}"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">E-mail：</label>
                <input type="email"
                       class="form-control"
                       name="email"
                       value="Du.W.Sai@gmail.com"
                       placeholder="E-mail address"
                       required
                       id="id_email"
                />
            </div>
            <div class="form-group">
                <label for="id_username">
                    用户名：
                </label>
                <input type="text"
                       class="form-control"
                       name="username"
                       value="stacklens"
                       placeholder="Username"
                       autofocus="autofocus"
                       minlength="1"
                       maxlength="150"
                       required
                       id="id_username"
                />
            </div>
            <button type="submit" class="btn btn-primary">确认 &raquo;</button>
        </form>
        <br>
        <hr>
    </div>

{% endblock %}
