{% extends "base.html" %}
{% load staticfiles %}
{% load weibo_utils %}
{% load i18n %}

{% block title %}邮箱管理 - 杜赛的个人网站{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">

    <br>
    <br>

    <div style="text-align: center">
        {% if user.socialaccount_set.all.0.get_avatar_url %}
            <!-- 第三方头像 -->
            <img src="{% translate_avatar_ssl user.socialaccount_set.all.0.get_avatar_url %}"
                 alt="avatar"
                 style="max-width: 10%; border-radius: 20%"
            >
        {% else %}
            {% if userinfo.avatar %}
                <!-- 本地头像 -->
                {% if 'static' in userinfo.avatar.url %}
                    <img src="{{ userinfo.avatar }}"
                         alt="avatar"
                         style="max-width: 10%; border-radius: 20%">
                {% else %}
                    <img src="{{ userinfo.avatar.url }}"
                         alt="avatar"
                         style="max-width: 10%; border-radius: 20%">
                {% endif %}
            {% else %}
                <!-- 无头像 -->
                <img src="{% static 'default_avatar.jpg' %}"
                     alt="avatar"
                     style="max-width: 10%; border-radius: 20%">
            {% endif %}
        {% endif %}
        <p style="padding-top: 5px;"><span>{{ user.username }}</span></p>
    </div>

    {% if not user.socialaccount_set.all.0.get_avatar_url %}
        <!-- 第三方头像不能修改头像 -->
        {% include 'account/handle_image_crop_upload.html' %}
    {% endif %}



    <br>
    <br>
    <br>
    <h1>{% trans "邮箱管理" %}</h1>
    <hr>
    {% if user.emailaddress_set.all %}

        <p class="layui-text">邮箱可用于登录，或者<a href="{% url 'account_reset_password' %}">重置密码</a>。</p>
        <br>
        <p>下列邮箱已绑定到你的账号中：
            <i class="layui-icon layui-icon-tips"
               style="position: relative; top: 2px; color: #999; font-size: 20px; cursor: pointer;"
               id="email_info">
            </i>
        </p>
        <br>

        <form action="{% url 'userinfo:detail' %}"
              class="email_list layui-form"
              method="post"
        >
            {% csrf_token %}
            <fieldset class="blockLabels">
                {% for emailaddress in user.emailaddress_set.all %}
                    <div class="ctrlHolder">
                        <label for="email_radio_{{ forloop.counter }}"
                               class="{% if emailaddress.primary %}primary_email{% endif %} layui-form-label"
                               style="margin-left: -100px"
                        >
                        </label>
                        <div class="layui-input-block" style="margin-left: -100px">
                            <input id="email_radio_{{ forloop.counter }}"
                                   type="radio"
                                   name="email"
                                    {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                                   checked="checked"
                                    {% endif %}
                                   value="{{ emailaddress.email }}"
                                   title='{{ emailaddress.email }}
                                        {% if emailaddress.verified %}
                                            <span class="verified">已认证</span>
                                        {% else %}
                                            <span class="unverified">未认证</span>
                                        {% endif %}
                                        {% if emailaddress.primary %}<span class="primary">{% trans "主邮箱" %}</span>{% endif %}
                                            '
                            />
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <br>
                <div class="buttonHolder layui-form-item">
                    <div class="layui-input-block" style="margin-left: 10px">

                        <button class="secondaryAction layui-btn layui-btn-warm layui-btn-sm" type="submit"
                                name="action_primary">成为主邮箱
                        </button>
                        <button class="secondaryAction layui-btn layui-btn-normal layui-btn-sm" type="submit"
                                name="action_send">重发认证邮件
                        </button>
                        <button class="primaryAction layui-btn  layui-btn-primary layui-btn-sm" type="submit"
                                name="action_remove">解除绑定
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

    {% else %}
        <p>你还没有绑定邮箱。</p>

    {% endif %}

    <br>
    <br>
    <h2>绑定E-mail</h2>
    <hr>
    <p>提交后我们会发送邮件给您。请点击邮件中的链接，以认证您的邮箱。</p>
    <br>
    <form method="post"
          action="{% url 'userinfo:detail' %}"
          class="add_email layui-form"
    >
        {% csrf_token %}
        <div class="layui-form-item">
            <label for="id_email" class="layui-form-label">E-mail:</label>
            <div class="layui-input-inline">

                <input type="email"
                       name="email"
                       size="30"
                       placeholder="请输入邮箱"
                       required id="id_email"
                       class="layui-input"
                />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button name="action_add" class="layui-btn" type="submit">确认</button>
            </div>
        </div>
    </form>
    <br>
    <p class="layui-text">遇到问题请联系博主：
        <a href="mailto:dusaiphoto@foxmail.com">dusaiphoto@foxmail.com</a>
    </p>
    <hr>



    <script src="{% static 'cropper/cropper.min.js' %}"></script>
    <script src="{% static 'cropper/jquery-cropper.min.js' %}"></script>
    <script>
        layui.use(['table'], function () {
            var layer = layui.layer;
            layui.$('#email_info').on('mouseenter', function () {
                this.index = layer.tips('1.同一个邮箱只能绑定一个账号<br>' +
                    '2.已认证的邮箱优先为主邮箱<br>' +
                    '3.你不能解绑自己的主邮箱', this, {
                    time: -1,
                    maxWidth: 280,
                    tips: [3, '#3A3D49']
                });
            }).on('mouseleave', function () {
                layer.close(this.index);
            });
        });
    </script>
{% endblock %}
