{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}
    登录 - 杜赛的个人网站
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div style="text-align: center" class="container-fluid mb-4 mt-4">
                <h4 class="alert alert-success">第三方登录</h4>
                <div>
                    <a href="/accounts/weibo/login/?process=login" class="mr-2" id="weibo_a"><i class="fab fa-weibo"
                                                                                                style="font-size: 3em; color: indianred;"></i></a>
                    <a href="/accounts/github/login/?process=login" id="github_a"><i class="fab fa-github"
                                                                                     style="font-size: 3em; color: dimgray;"></i></a>
                </div>
            </div>

            <br>
            <div style="text-align: center" class="container-fluid mt-4">
                <h4 class="alert alert-info">本站账号登录</h4>
            </div>

            <div class="container row">
                <div class="col-lg-5 col-md-4 col-sm-3 col-2"></div>
                <div class="col-auto">
                    <form class="login"
                          method="POST"
                          action="{% url 'account_login' %}"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_login">账号: </label>
                            <input type="text"
                                   name="login"
                                   placeholder="请输入用户名或Email"
                                   autofocus="autofocus"
                                   required
                                   id="id_login"
                                   class="form-control"
                            />
                            <small class="form-text text-muted ml-1">
                                还没有账号？
                                <a href="{% url 'account_signup' %}" style="color: cornflowerblue; ">
                                    注册新账号
                                </a>
                            </small>

                        </div>
                        <div class="form-group mb-1">
                            <label for="id_password">
                                密码:
                            </label>
                            <input type="password"
                                   name="password"
                                   placeholder="请输入密码"
                                   required id="id_password"
                                   class="form-control"
                            />
                            <small class="form-text text-muted ml-1">
                                <a class="secondaryAction layui-text"
                                   href="{% url 'account_reset_password' %}"
                                >
                                    忘记密码?
                                </a>
                            </small>
                        </div>

                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox"
                                   name="remember"
                                   id="id_remember"
                                   checked
                                   class="custom-control-input"
                            />
                            <label for="id_remember" class="custom-control-label">
                                保持登录
                            </label>
                        </div>

                        <button class="primaryAction btn btn-primary" type="submit">确认</button>
                    </form>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <script>
        $('#github_a').on('mouseenter', function () {
            this.index = layer.tips('以Github账号登录', this, {
                time: -1,
                maxWidth: 280,
                tips: [3, 'dimgray']
            });
        }).on('mouseleave', function () {
            layer.close(this.index);
        });

        $('#weibo_a').on('mouseenter', function () {
            this.index = layer.tips('以新浪微博账号登录', this, {
                time: -1,
                maxWidth: 280,
                tips: [3, 'indianred']
            });
        }).on('mouseleave', function () {
            layer.close(this.index);
        });

    </script>
{% endblock %}
