{% extends "base.html" %}

{% load i18n %}
{% block title %}重置密码 - 杜赛的个人网站{% endblock %}

{% block content %}
    <br>
    <br>
    <div style="text-align: center">
        <h1>
            重置密码成功
        </h1>
        <p>
            <span>
                在下面输入账号密码登录吧~
            </span>
        </p>
    </div>
    <br>

    <div class="layui-col-sm-offset3 layui-col-lg-offset4">
        <form class="login layui-form"
              method="POST"
              action="{% url 'account_login' %}"
        >
            {% csrf_token %}
            <div class="layui-form-item">
                <label for="id_login" class="layui-form-label">账号: </label>
                <div class="layui-input-inline">
                    <input type="text"
                           name="login"
                           placeholder="请输入用户名或Email"
                           autofocus="autofocus"
                           required
                           id="id_login"
                           class="layui-input"
                    />
                </div>

            </div>
            <div class="layui-form-item">
                <label for="id_password" class="layui-form-label">
                    密码:
                </label>
                <div class="layui-input-inline">
                    <input type="password"
                           name="password"
                           placeholder="请输入密码"
                           required id="id_password"
                           class="layui-input"
                    />
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="secondaryAction layui-text"
                       href="{% url 'account_reset_password' %}"
                    >
                        忘记密码?
                    </a>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="id_remember" class="layui-form-label">
                    保持登录:
                </label>
                <input type="checkbox"
                       name="remember"
                       id="id_remember"
                       lay-skin="switch"
                       checked
                       lay-text="ON|OFF"
                />
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="primaryAction layui-btn" type="submit">确认</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <hr>
{% endblock %}
