{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% block title %}重置密码 - 杜赛的个人网站{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <div class="container">
        <br>
        <br>
        <h3 class="alert alert-danger">重置密码</h3>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <hr>
        <p class="text-muted">忘记密码了吗？请输入您的账号绑定Email，我们将发送重置密码的邮件给您。</p>
        <form method="POST"
              action="{% url 'account_reset_password' %}"
              class="password_reset form-inline"
        >
            {% csrf_token %}
            <div class="input-group">
                <label for="id_email" class="sr-only">邮箱:</label>
                <div class="layui-input-inline">

                    <input type="email"
                           name="email"
                           size="30"
                           placeholder="请填写E-mail地址"
                           required
                           id="id_email"
                           class="form-control mr-2"
                    />
                </div>
            </div>
            <button type="submit" value="确认" class="btn btn-primary">确认</button>
        </form>
        <br>

        <p class="layui-text">遇到问题请联系博主：
            <a href="mailto:dusaiphoto@foxmail.com">dusaiphoto@foxmail.com</a>
        </p>
    </div>

{% endblock %}
