{% extends "base.html" %}

{% load i18n %}
{% block title %}重置密码 - 杜赛的个人网站{% endblock %}

{% block content %}
    <br>
    <br>
    <h1>{% if token_fail %}链接已失效{% else %}新的密码{% endif %}</h1>
    <br>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}此链接不正确或已经使用过了。请重新<a href="{{ passwd_reset_url }}" style="color: cornflowerblue">申请重置邮件</a>。{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <p><span>请输入8位以上的字母、数字的组合</span></p>
            <br>
            <form method="POST"
                  action="{{ action_url }}"
                  class="layui-form"
            >
                {% csrf_token %}
                <div class="layui-form-item">
                    <label for="id_password1" class="layui-form-label">新密码:</label>
                    <div class="layui-input-inline">
                        <input type="password"
                               name="password1"
                               placeholder="输入新密码"
                               required
                               id="id_password1"
                               class="layui-input"
                        />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="id_password2" class="layui-form-label">重复新密码:</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password2"
                               placeholder="请重新输入新密码"
                               required id="id_password2"
                               class="layui-input"
                        />
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="submit"
                               name="action"
                               value="确认"
                               class="layui-btn"
                        />
                    </div>
                </div>
            </form>
        {% else %}
            <h1>重置密码成功。</h1>
        {% endif %}
    {% endif %}
    <br>
    <br>
    <br>
    <hr>
{% endblock %}
