{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% block title %}重置密码 - 杜赛的个人网站{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <div class="container">
        <br>
    <br>
    <h3 class="alert alert-success">重置密码成功</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>请在您的Email中查收邮件，并点击链接修改密码。</p>
    <br>
    <br>
    <br>
    </div>

{% endblock %}
