{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}关于 - 杜赛的个人网站{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col mt-4">
                <div class="row align-items-center justify-content-center">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 offset-lg-2 offset-md-1">
                        <img src="{% static 'img/myself.jpeg' %}" style="max-width: 100%; border-radius: 30%">
                    </div>
                    <div class="col">
                        <h2>About me</h2>
                        <div>光学设计师，现就职于成都某研究所</div>
                        <div>业余敲代码，主要用Python，会一点C#</div>
                        <div>爱好摄影，写攻略文章</div>
                        <div>2019年成为Vloger，记录生活</div>
                    </div>

                </div>

                <hr/>


                <h3>技术栈</h3>

                <h5 style="color: blue">
                    光学
                </h5>
                <table class="table">
                    <thead class="thead-dark">
                    <tr class="table-primary">
                        <th scope="col">技能</th>
                        <th scope="col">类别</th>
                        <th scope="col">技能开启时间</th>
                        <th scope="col">目前状态</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="table-primary">
                        <th scope="col">Code V</th>
                        <td>光学</td>
                        <td>2014.11</td>
                        <td>可见光长焦距镜头设计；材料匹配的无热化设计；
                            <a href="#lens" style="color: #5897fb">
                                我设计的第一个镜头
                            </a>
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col">SolidWorks</th>
                        <td>结构</td>
                        <td>2014.11</td>
                        <td>光学系统相关的结构设计；静力、热力结合的有限元分析</td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col">Zemax</th>
                        <td>光学</td>
                        <td>学习中..</td>
                        <td></td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col">Light Tools</th>
                        <td>仿真</td>
                        <td>准备学习</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <br/>


                <h5 style="color: green">
                    编程
                </h5>

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">技能</th>
                        <th scope="col">类别</th>
                        <th scope="col">技能开启时间</th>
                        <th scope="col">目前状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-success">
                        <th scope="col">Django + LayUI</th>
                        <td>Web</td>
                        <td>2017.10</td>
                        <td>博客开发：
                            <a href="{% url 'article:article_list' %}"
                               style="color: #5897fb"
                               target="_blank">
                                杜赛的个人网站
                            </a>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="col">Django REST framework</th>
                        <td>后端</td>
                        <td>2018.09</td>
                        <td>基本的API设计：
                            <a href="{% url 'api_article:list' %}"
                               style="color: #5897fb"
                               target="_blank">
                                文章API
                            </a>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="col">BootStrap 4</th>
                        <td>前端</td>
                        <td>2018.09</td>
                        <td>基础样式的应用</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="col">Unity3d + C#</th>
                        <td>游戏</td>
                        <td>2018.09</td>
                        <td>入门小游戏设计：
                            <a href="https://github.com/stacklens/MiniFPSGame"
                               style="color: #5897fb" target="_blank">
                                MiniFPSGame
                            </a>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="col">Swift</th>
                        <td>app</td>
                        <td>学习中..</td>
                        <td></td>
                    </tr>
                    <tr class="table-success">
                        <th scope="col">Vue.js</th>
                        <td>前端</td>
                        <td>学习中..</td>
                        <td></td>
                    </tr>
                    <tr class="table-success">
                        <th scope="col">微信小程序</th>
                        <td>微信开发</td>
                        <td>准备学习</td>
                        <td>跟着教程写了一个小程序"轻松查单词"（微信里搜索可见）</td>
                    </tr>
                    </tbody>
                </table>
                <br/>

                <h5 style="color: darkgoldenrod">
                    爱好
                </h5>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">技能</th>
                        <th scope="col">类别</th>
                        <th scope="col">技能开启时间</th>
                        <th scope="col">目前状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-warning">
                        <th scope="col">摄影 + Enlight + PhotoShop CC</th>
                        <td>摄影</td>
                        <td>2013.05</td>
                        <td>查看我的作品：
                            <a href="{% url 'album:album_list' %}"
                               style="color: #5897fb"
                               target="_blank">
                                照片墙
                            </a>
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="col">钢琴</th>
                        <td>音乐</td>
                        <td>2012.08</td>
                        <td>半搁浅:
                            <a href="https://v.youku.com/v_show/id_XNzgwNTM0ODA0.html?spm=a2h3j.8428770.3416059.1"
                               style="color: #5897fb"
                               target="_blank">
                                《植物大战僵尸》
                            </a>
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="col">吉他</th>
                        <td>音乐</td>
                        <td>2007.09</td>
                        <td>曾经会过:
                            <a href="https://v.youku.com/v_show/id_XMzc1MjAwMDA0.html?spm=a2h3j.8428770.3416059.1"
                               style="color: #5897fb"
                               target="_blank">
                                《You are not alone》
                            </a>
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="col">Vlog + 剪辑</th>
                        <td>视频</td>
                        <td>2019.01</td>
                        <td><a href="https://www.bilibili.com/video/av43873325">春节在家</a></td>
                    </tr>
                    </tbody>
                </table>

                <br/>
                <br/>
                <p>走过一些城市<br>看过山河风景</p>
                <br/>
                <br/>

                <link rel="stylesheet"
                      href="{% static 'echarts/extension/echarts-leaflet/dist/leaflet.css' %}"
                />

                <div id='main' style="width: 90%; height: 600px; margin-left: 5%"></div>
                <br/>
                <br/>
                <p>野路子自学编程、摄影<br>在博客上写
                    <a href="{% url 'course:course_list' %}"
                       target="_blank"
                       style="color: #5897fb;"
                    >
                        教程
                    </a>
                </p>
                <hr/>

                <p>设计过几个镜头<br>
                    以光学设计师混饭吃
                </p>
                <div id="lens">
                    <img src="{% static 'img/optic1.jpg' %}"
                         style="max-width: 30%; border-radius: 16px"
                         alt="我设计的镜头"
                    >
                    <img src="{% static 'img/optic2.jpg' %}"
                         style="max-width: 30%; border-radius: 16px"
                         alt="我设计的镜头2"
                    >
                </div>
                <br>
                <br>

                <p>感谢你的小小停留</p>
                <p>愿你会有小小收获</p>
                <br>
                <br>


                <p class="layui-elem-quote">
                    遇到问题、赞助推广，请点击这里:
                    <a href="mailto:dusaiphoto@foxmail.com" style="color: #5897fb;">发邮件给博主</a>
                    <br>或扫二维码加我的个人微信：
                </p>
                <div>
                    <img src="{% static 'img/wechat.jpg' %}" style="max-width: 200px">
                </div>
                <br>


                <p class="layui-elem-quote">我的摄影文章<br>
                    还可以关注
                    <a href="https://mp.weixin.qq.com/s/IV0JH3XELEn0QvOkaoxB5w"
                       target="_blank"
                       style="color: #5897fb;">
                        微信公众号
                    </a>或者
                    <a href="https://www.toutiao.com/m1601084746969102/"
                       target="_blank"
                       style="color: #5897fb;">
                        今日头条号
                    </a>
                </p>
                <img src="{% static 'img/dingyuehao.jpeg' %}"
                     style="max-width: 200px"
                     alt="公众号QR"
                >
                <img src="{% static 'img/toutiaohao.jpeg' %}"
                     style="max-width: 200px"
                     alt="头条号"
                >
                <br/>
                <br/>

                <p>编程文章<br>
                    可以关注我的
                    <a href="https://mp.weixin.qq.com/s?__biz=MzU2NjczMTU0Ng==&mid=2247483657&idx=1&sn=a7dfb163e56267a7ec957b302c9a2fe9&chksm=fca6b77ccbd13e6af5fa261655b1b792eafbb5d4e8a3a6c95a34592021826cce8c8a6b08e18f&token=650212257&lang=zh_CN#rd"
                       target="_blank"
                       style="color: #5897fb;">
                        微信公众号
                    </a>或者
                    <a href="https://www.zhihu.com/people/lu-pai-cai-niao-du-sai/activities"
                       target="_blank"
                       style="color: #5897fb;">
                        知乎
                    </a>
                </p>

                <img src="{% static 'img/it_wechat.jpg' %}"
                     style="max-width: 200px"
                     alt="公众号QR"
                >
                <br/>
                <br/>

                <p>如果时间允许<br>会写光学的专栏<br>感谢支持...</p>
                <br/>
                <br/>
                <div>
                    <a href="/admiration/"
                       target="_blank"
                       class="btn btn-warning text-white btn-sm"
                    >
                        博客不错，朕要赏
                    </a>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
    <script src="https://cdn.bootcss.com/leaflet/1.3.1/leaflet.js"></script>
    <script src="{% static 'echarts/extension/echarts-leaflet/dist/echarts-leaflet.js' %}"></script>

    <script>
        $(document).ready(function () {
            var data = [
                {
                    name: '成都',
                    value: 100
                },
                {
                    name: '乐山',
                    value: 100
                },
                {
                    name: '峨眉',
                    value: 100
                },
                {
                    name: '泸沽湖',
                    value: 140
                },
                {
                    name: '泰安',
                    value: 100
                },
                {
                    name: '马尔代夫',
                    value: 180
                },
                {
                    name: '清迈',
                    value: 150
                },
                {
                    name: '九寨沟',
                    value: 120
                },
                {
                    name: '巴厘岛',
                    value: 150
                },
                {
                    name: '眉山',
                    value: 100
                },
                {
                    name: '西岭雪山',
                    value: 100
                },
                {
                    name: '三亚',
                    value: 100
                },
                {
                    name: '康定',
                    value: 100
                },
                {
                    name: '龙苍沟',
                    value: 100
                },
                {
                    name: '巴黎',
                    value: 180
                },
                {
                    name: '米兰',
                    value: 100
                },
                {
                    name: '威尼斯',
                    value: 120
                },
                {
                    name: '罗马',
                    value: 180
                },
                {
                    name: '青城山',
                    value: 100
                },
                {
                    name: '映秀',
                    value: 100
                },
                {
                    name: '汶川',
                    value: 100
                },
                {
                    name: '西安',
                    value: 100
                },
                {
                    name: '香港',
                    value: 120
                },
                {
                    name: '澳门',
                    value: 100
                },
                {
                    name: '上海',
                    value: 100
                },
                {
                    name: '南京',
                    value: 100
                },
                {
                    name: '北京',
                    value: 100
                },
                {
                    name: '长春',
                    value: 100
                },
                {
                    name: '巴彦浩特',
                    value: 130
                },
                {
                    name: '四姑娘山',
                    value: 100
                },
                {
                    name: '武汉',
                    value: 100
                },
                {
                    name: '泰山',
                    value: 100
                },
                {
                    name: '若尔盖草原',
                    value: 100
                },
                {
                    name: '杭州',
                    value: 100
                },
                {
                    name: '临沂',
                    value: 100
                },
                {
                    name: '绵阳',
                    value: 100
                },
                {
                    name: '济南',
                    value: 100
                },
                {
                    name: '重庆',
                    value: 100
                },
                {
                    name: '合川',
                    value: 100
                },
                {
                    name: '福州',
                    value: 100
                },
                {
                    name: '泰安',
                    value: 100
                },
                {
                    name: '扬州',
                    value: 100
                }, {
                    name: '新加坡',
                    value: 115
                },
                {
                    name: '天津',
                    value: 100
                },
                {
                    name: '哈尔滨',
                    value: 100
                },
                {
                    name: '西双版纳',
                    value: 110
                }, {
                    name: '清莱',
                    value: 110
                }, {
                    name: '海口',
                    value: 90
                },
            ];

            var geoCoordMap = {
                '成都': [104.0647735044, 30.5702183724],
                '乐山': [103.7653969946, 29.5522198488],
                '峨眉': [103.3400708493, 29.5658288049],
                '泸沽湖': [100.8553391264, 27.7254845785],
                '泰安': [117.0884158791, 36.1999559476],
                '马尔代夫': [73.4008996000, 4.0966164000],
                '清迈': [98.9817163000, 18.7060641000],
                '九寨沟': [103.9185994000, 33.2600421000],
                '巴厘岛': [115.1889160000, -8.4095178000],
                '眉山': [103.8483960000, 30.0772800000],
                '西岭雪山': [103.1729170000, 30.6144710000],
                '三亚': [109.5119090000, 18.2528470000],
                '康定': [101.9571450000, 29.9984350000],
                '龙苍沟': [102.8442680000, 29.6926200000],
                '巴黎': [2.3522219000, 48.8566140000],
                '米兰': [9.1899820000, 45.4642035000],
                '威尼斯': [12.3155151000, 45.4408474000],
                '罗马': [12.4963655000, 41.9027835000],
                '青城山': [103.5166667000, 30.9666667000],
                '映秀': [103.4914630000, 31.0574880000],
                '汶川': [103.5903860000, 31.4768220000],
                '西安': [108.9397700000, 34.3415740000],
                '香港': [114.1094970000, 22.3964280000],
                '澳门': [113.5438730000, 22.1987450000],
                '上海': [121.4737021000, 31.2303904000],
                '南京': [118.7968770000, 32.0602550000],
                '北京': [116.4073963000, 39.9041999000],
                '长春': [125.3235440000, 43.8170710000],
                '巴彦浩特': [105.6689990000, 38.8335070000],
                '四姑娘山': [102.9019690000, 31.1104490000],
                '武汉': [114.3052387810, 30.5927599029],
                '泰山': [117.0907475635, 36.2698773695],
                '若尔盖草原': [102.4982306617, 33.3524545731],
                '杭州': [120.2099483921, 30.2458576754],
                '临沂': [118.3264247699, 35.0652761401],
                '绵阳': [104.7417237141, 31.4640314467],
                '济南': [117.1200073354, 36.6512294720],
                '重庆': [106.5504477149, 29.5637558135],
                '合川': [106.2761257812, 29.9720848646],
                '福州': [119.2963656153, 26.0742559397],
                '泰安': [117.1290737812, 36.1949862369],
                '扬州': [119.4210033352, 32.3931686010],
                '新加坡': [103.8198360000, 1.3520830000],

                '天津': [117.1993482089, 39.0850853357],
                '哈尔滨': [126.5358247345, 45.8021755616],
                '西双版纳': [100.7973891678, 22.0074942004],
                '清莱': [99.8405760000, 19.9104798000],
                '海口': [110.1982860000, 20.0444120000],
            };

            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];
                    if (geoCoord) {
                        res.push({
                            name: data[i].name,
                            value: geoCoord.concat(data[i].value)
                        });
                    }
                }
                return res;
            };

            var myChart = echarts.init(document.getElementById('main'));

            myChart.setOption({
                title: {
                    text: '我的足迹',
                    left: 'center',
                    textStyle: {
                        color: '#000'
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{b}',
                },
                leaflet: {
                    center: [80, 30],
                    zoom: 2,
                    roam: true,
                    layerControl: {
                        position: 'topright'
                    },
                    tiles: [
                        {
                            label: 'Open Street Map',
                            urlTemplate: 'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
                            options: {
                                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
                            }
                        },
                        {
                            label: '天地图',
                            urlTemplate: 'http://t2.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                            options: {
                                attribution: 'tianditu.com'
                            }
                        },
                    ]
                },
                series: [{
                    name: 'pm2.5',
                    type: 'scatter',
                    coordinateSystem: 'leaflet',
                    data: convertData(data),
                    symbolSize: function (val) {
                        return val[2] / 10;
                    },
                    label: {
                        normal: {
                            formatter: '{b}',
                            position: 'right',
                            show: false,
                            color: '#000'
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#ddb926'
                        }
                    }
                },
                    {
                        name: 'Top 5',
                        type: 'effectScatter',
                        coordinateSystem: 'leaflet',
                        data: convertData(data.sort(function (a, b) {
                            return b.value - a.value;
                        }).slice(0, 11)),
                        symbolSize: function (val) {
                            return val[2] / 10;
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: true,
                                color: '#000'
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#f4e925',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    }
                ]
            });

            // https://developer.mozilla.org/en-US/docs/Web/Events/resize
            (function () {
                var throttle = function (type, name, obj) {
                    obj = obj || window;
                    var running = false;
                    var func = function () {
                        if (running) {
                            return;
                        }
                        running = true;
                        requestAnimationFrame(function () {
                            obj.dispatchEvent(new CustomEvent(name));
                            running = false;
                        });
                    };
                    obj.addEventListener(type, func);
                };

                /* init - you can init any event */
                throttle("resize", "optimizedResize");
            })();

            // handle event
            window.addEventListener("optimizedResize", function () {
                myChart.resize({
                    width: 'auto',
                    height: 'auto'
                });
            });
        });
    </script>

{% endblock %}