{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}教程{% endblock %}
{% block content %}
    <div class="layui-row layui-card layui-card-body">
        {% for book in books %}
            <div class="layui-col-md6" id="book_box">
                <a href="{% url 'readbook:book_detail' book.id %}">
                    <img src="{{ book.avatar_thumbnail.url }}" class="layui-col-md3"
                         style="margin: 10px; box-shadow: 1px 1px 3px black">
                    <div class="layui-col-md4">
{#                        <br/>#}
                        <h3 style="color: #01a252; font-weight: bold; text-align: center; margin: 10px;">{{ book.title }}</h3>
{#                        <br/>#}
                        <p><span>作者：</span>{{ book.author }}</p>
                        <p><span>页数：</span>{{ book.book_page }}</p>
                        <p><span>价格：</span>{{ book.price }}</p>
                        <p><span>评分：</span>
                            {% include 'readbook/rate_base.html' %}</p>
                        <p id="practicality_{{ forloop.counter }}" hidden>{{ book.practicality }}</p>
                        <p id="interesting_{{ forloop.counter }}" hidden>{{ book.interesting }}</p>
                        <p id="readability_{{ forloop.counter }}" hidden>{{ book.readability }}</p>
                        <p id="professionalism_{{ forloop.counter }}" hidden>{{ book.professionalism }}</p>
                        <p id="binding_quality_{{ forloop.counter }}" hidden>{{ book.binding_quality }}</p>
                    </div>
                    <div class="layui-col-md5" id="echarts_book_{{ forloop.counter }}"
                         style="width:200px;height:200px"></div>
                </a>

            </div>
        {% endfor %}
        <div id="echarts_bmap" style="width:600px;height:600px"></div>
    </div>
    <!-- 引入 ECharts -->
    <script src="{% static 'echarts/echarts.js' %}"></script>
    <script src="{% static 'myjs.js' %}"></script>
    <script type="text/javascript">
        // myjs.js
        book_list({{ books.count }});
    </script>
{% endblock %}