{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}读书 - 杜赛的个人网站{% endblock %}
{% block content %}
    <h6 class="mt-4 ml-2" style="color: royalblue;">
        <i class="far fa-grin-squint-tears" style="font-size: xx-large"></i>
        博主觉得很棒的知识都分享在这里！
    </h6>
    <div class="mt-4">
        <div class="alert alert-success" role="alert">
            编程
        </div>
        <div class="row ml-1">
            {% for article in code_articles %}
                <div class="col-12 col-md-6 mb-2">
                    <a href="{{ article.url }}"
                       target="_blank"
                       class="mr-2"
                       style="color: dimgray;"
                    >
                        {{ article.title }}
                    </a>

                    {% if article.tag.title == 'Python' %}
                        <i class="fab fa-python" style="color: darkgreen;" title="Python"></i>
                    {% elif article.tag.title == 'Unity' %}
                        <i class="fas fa-gamepad" style="color: darkred;" title="Unity"></i>
                    {% elif article.tag.title == 'JavaScript' %}
                        <i class="fab fa-js" style="color: darkblue;" title="JavaScript"></i>
                    {% endif %}

                    {% if article.type.title == '代码' %}
                        <i class="fas fa-code" style="color: lightgreen;" title="代码"></i>
                    {% elif article.type.title == '网络' %}
                        <i class="fab fa-internet-explorer" style="color: lightpink;" title="网络"></i>
                    {% elif article.type.title == '书籍' %}
                        <i class="fas fa-book" style="color: lightsalmon;" title="书籍"></i>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

    </div>

    <div class="mt-4 mb-4">
        <div class="alert alert-warning" role="alert">
            其他
        </div>
        <div class="row ml-1">

            {% for article in unknown_articles %}
                <div class="col-12 col-md-6 mb-2">
                    <a href="{{ article.url }}"
                       target="_blank"
                       class="mr-2"
                       style="color: dimgray;"
                    >
                        {{ article.title }}
                    </a>

                    {% if article.tag.title == '人文社科' %}
                        <i class="fas fa-brain" style="color: orangered;" title="人文社科"></i>
                    {% elif article.tag.title == '金融管理' %}
                        <i class="fas fa-dollar-sign" style="color: darkgoldenrod;" title="金融管理"></i>
                    {% elif article.tag.title == '艺术' %}
                        <i class="fas fa-palette" style="color: darkturquoise;" title="艺术"></i>
                    {% elif article.tag.title == '科技数理' %}
                        <i class="fas fa-atom" style="color: darkcyan;" title="科技数理"></i>
                    {% endif %}

                    {% if article.type.title == '代码' %}
                        <i class="fas fa-code" style="color: lightgreen;" title="代码"></i>
                    {% elif article.type.title == '网络' %}
                        <i class="fab fa-internet-explorer" style="color: lightpink;" title="网络"></i>
                    {% elif article.type.title == '书籍' %}
                        <i class="fas fa-book" style="color: lightsalmon;" title="书籍"></i>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}