{% if book.total_score > 4.5 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
{% elif book.attr_meta > 4 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-half" id="star"></i>
{% elif book.total_score > 3.5 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
{% elif book.total_score > 3 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-half" id="star"></i>
{% elif  book.total_score > 2.5 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
{% elif book.total_score > 2 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-half" id="star"></i>
{% elif book.total_score > 1.5 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
{% elif book.total_score > 1 %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
    <i class="layui-icon layui-icon-rate-half" id="star"></i>
{% else %}
    <i class="layui-icon layui-icon-rate-solid" id="star"></i>
{% endif %}