{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load weibo_utils %}

{% block title %}{{ article.title }} - 杜赛的个人网站{% endblock %}
{% block content %}
    <div>
        <div class="layui-card layui-card-body">
            <br/>
            <div>
                <div>
                    <h1 style="color: black;font-size: xx-large; font-weight: bold; line-height: 110%">
                        {{ article.title }}
                    </h1>
                    <br/>
                    <p style="color: #8D8D8D;">
                        {{ article.total_views }}阅读 ·
                        {{ article.comments.count }}评论 ·
                        于{{ article.created|date:"Y年m月d日 H:i:s" }}发布
                    </p>
                    <video src="{{ article.video_url }}"
                           controls
                           style="max-width: 100%;"
                    >
                        您的浏览器太老，无法运行视频哦
                    </video>
                    <p style="color: #8D8D8D;">
                        {{ article.body }}
                    </p>
                </div>
            </div>
            <br/>
            <div style="text-align: center">
                <a href="/admiration/" target="_blank"
                   class="layui-btn layui-btn-warm layui-btn-sm layui-btn-radius"
                >
                    写的不错，朕要赏
                </a>
            </div>
            <br>
            <br>

            <div>
                {#    发表评论#}
                {% if user.is_authenticated %}
                    <div>
                        <br>
                        <form id="comment_form"
                              class="layui-form"
                              action="{% url 'comments:vlog_post_comment' article.id %}"
                              method="post">
                            {% csrf_token %}
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label" for="id_body">发表评论： </label>
                                <div class="layui-input-block">
                        <textarea rows="6" id="id_body" class="layui-textarea" name="body"
                                  placeholder="请输入评论内容"></textarea>
                                </div>
                            </div>

                            <input type="hidden" name="article_type" value="vlog">


                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="submit_btn"
                                            type="submit"
                                            name="submit"><i class="layui-icon layui-icon-release"></i> 发布
                                    </button>
                                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}"/>
                                </div>
                            </div>
                        </form>
                    </div>

                {% else %}
                    <br/>
                    <br/>
                    <div class="" style="text-align: center">
                        <div>
                            <div class="layui-text" style="font-size: large" id="weibologin"><span>登录后回复</span></div>
                            <div class="" style="margin-top: 10px">
                        <span class="weibo mr-3">
{#                            <a href="/accounts/weibo/login/">#}
                            <a href="/accounts/weibo/login/?process=login">
                                <i class="layui-icon layui-icon-login-weibo"
                                   style="font-size: xx-large; color: #ee771a;" aria-hidden="true"></i>
                            </a>
                        </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {#显示mptt层级评论#}

            <br/>
            <br/>
            <h2>共有{{ article.vlog_comments.count }}条评论</h2>
            <div>
                <ul>
                    {% recursetree comments %}
                        <div class="layui-row">
                            <hr/>
                            <div class="layui-col-xs2 layui-col-sm1" id="F{{ node.id }}">
                                <div style="text-align: center">
                                    {% if node.user.socialaccount_set.all.0.get_avatar_url %}
                                        {% if node.reply_to %}
                                            <img src="{% translate_avatar_ssl node.user.socialaccount_set.all.0.get_avatar_url %}"
                                                 style="width: 60%; border-radius: 20%">
                                        {% else %}
                                            <img src="{% translate_avatar_ssl node.user.socialaccount_set.all.0.get_avatar_url %}"
                                                 style="width: 80%; border-radius: 20%">
                                        {% endif %}
                                    {% else %}
                                        {% if node.reply_to %}
                                            <img src="{% static 'default_avatar.jpg' %}"
                                                 style="width: 60%; border-radius: 20%">
                                        {% else %}
                                            <img src="{% static 'default_avatar.jpg' %}"
                                                 style="width: 80%; border-radius: 20%">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="layui-col-xs10 layui-col-sm11 layui-text">
                                {{ node.user }}
                                {% if node.user.is_superuser %}
                                    <i style="color: #ff5500;">[博主]</i>
                                {% elif node.user.is_staff %}
                                    <i style="color: #5897fb;">[管理员]</i>
                                {% endif %}
                                {% if node.reply_to %}
                                    <i class="layui-icon layui-icon-next"></i> {{ node.reply_to }}
                                    {% if node.reply_to.is_superuser %}
                                        <i style="color: #ff5500;">[博主]</i>
                                    {% elif node.user.is_staff %}
                                        <i style="color: #5897fb;">[管理员]</i>
                                    {% endif %}
                                {% endif %}
                                <pre style="font-family: inherit; font-size: 1.1em; color: black; padding-top: 4px">{{ node.body }}</pre>
                                <div style="color: #999999;"><p>{{ node.created_time|date:"Y-m-d H:i:s" }}
                                    <a href="{% url 'comments:vlog_reply_post_comment' article.id node.id 'vlog' %}"
                                       style="color: #01a252">回复</a></p></div>
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endrecursetree %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}