/*固定底部导航栏*/
/*https://css-tricks.com/couple-takes-sticky-footer/?utm_source=caibaojian.com*/

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -120px;
}

#nav-footer,
#push {
    height: 120px;
}