{% load staticfiles %}
{% load notifications_tags %}

<ul class="layui-nav" style="padding: 0 10%;">
    <li class="layui-nav-item "><a href="/admin/" style="font-size: large;">杜赛的个人网站</a></li>
    <li class="layui-nav-item "><a href="{% url 'article:article_list' %}">文章</a></li>
    <li class="layui-nav-item "><a href="{% url 'course:course_list' %}">教程</a></li>
    <li class="layui-nav-item "><a href="{% url 'readbook:book_list' %}">读书</a></li>
    <li class="layui-nav-item "><a href="{% url 'album:album_list' %}">照片墙</a></li>
    <li class="layui-nav-item "><a href="{% url 'aboutme:footpoint' %}">足迹</a></li>
    <li class="layui-nav-item "><a href="{% url 'aboutme:me' %}">关于</a></li>




    {% if user.is_authenticated %}
        <li class="layui-nav-item" style="float: right;"><a href="javascript:">
            {{ user.username }}
            {% notifications_unread as unread_count %}
            {% if unread_count %}
                <span class="layui-badge-dot" style="left: 0;"></span>
            {% endif %}
        </a>
            <dl class="layui-nav-child">
                <dd><a href="{% url 'my_notifications:notify_box' %}">通知
                    {% if unread_count %}
                        <span class="layui-badge" style="left: 50%;">{{ unread_count }}</span>
                    {% endif %}</a></dd>
                {% if user.is_superuser %}
                    <dd><a href="{% url 'article:article_create' %}">写文章</a></dd>
                    <dd><a href="{% url 'album:album_manage' %}">照片墙</a></dd>
                    <dd><a href="{% url 'imagesource:imagesource_list' %}">图库</a></dd>
                {% endif %}
                <dd><a href="/accounts/logout">退出登录</a></dd>
            </dl>
        </li>

    {% else %}
        <li class="layui-nav-item " style="float: right;"><a href="/accounts/login">登录</a></li>
    {% endif %}
    <li style="float: right; margin: 12px 20px;">
        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
            <input style=" background-color: #dddddd" type="search" name="q" placeholder="搜索文章.." required class="layui-input">
        </form>
    </li>
</ul>


<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'layui-v2.3.0/layui/layui.js' %}"></script>
<script type="text/javascript">
    //注意：layui导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>