{% load staticfiles %}
{% load notifications_tags %}
{% load weibo_utils %}

<ul class="layui-nav">
    <!-- PC导航 -->
    <li class="layui-nav-item ">
        <a href="/" style="font-size: 1.2em;">
            杜赛的个人网站
        </a>
    </li>
    <li class=  "
                layui-nav-item
                layui-hide-xs
                {% if 'article' in request.path or request.path == '/' %}
                layui-this
                {% endif %}
                "
    >
        <a href="/">
            文章
        </a>
    </li>
    <li class=  "
                layui-nav-item
                layui-hide-xs
                {% if '/course' in request.path %}
                layui-this
                {% endif %}
                "
    >
        <a href="{% url 'course:course_list' %}">
            教程
        </a>
    </li>
    <li class=  "
                layui-nav-item
                layui-hide-xs
                {% if '/book' in request.path %}
                layui-this
                {% endif %}
                "
    >
        <a href="{% url 'readbook:book_list' %}">
            读书
        </a>
    </li>
    <li class=  "
                layui-nav-item
                layui-hide-xs
                {% if '/album' in request.path %}
                layui-this
                {% endif %}
                "
    >
        <a href="{% url 'album:album_list' %}">
            照片墙
        </a>
    </li>
    <li class=  "
                layui-nav-item
                layui-hide-xs
                {% if '/vlog' in request.path %}
                layui-this
                {% endif %}
                "
    >
        <a href="{% url 'vlog:list' %}">
            视频
        </a>
    </li>
    <li class=  "
                layui-nav-item
                layui-hide-xs
                {% if '/aboutme' in request.path %}
                layui-this
                {% endif %}
                "
    >
        <a href="{% url 'aboutme:footpoint' %}">
            关于
        </a>
    </li>

    <!-- 移动端导航 -->
    <li class="layui-nav-item layui-hide-sm" style="float: right">
        <a href="javascript:"><i class="layui-icon layui-icon-spread-left"></i></a>
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="/">文章</a></dd>
            <dd><a href="{% url 'course:course_list' %}">教程</a></dd>
            <dd><a href="{% url 'readbook:book_list' %}">读书</a></dd>
            <dd><a href="{% url 'album:album_list' %}">照片墙</a></dd>
            <dd><a href="{% url 'vlog:list' %}">视频</a></dd>
            <dd class="layui-hide-sm"><a href="#" onclick="mobile_search()">搜索</a></dd>
            <dd><a href="{% url 'aboutme:footpoint' %}">关于</a></dd>
        </dl>
    </li>

    <!-- 用户下拉条 -->
    {% if user.is_authenticated %}
        <li class="layui-nav-item" style="float: right;"><a href="javascript:">
            {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img src="{% translate_avatar_ssl user.socialaccount_set.all.0.get_avatar_url %}"
                     style="max-height: 40px; border-radius: 20%"
                     alt="头像"
                >
            {% else %}
                {{ user.username }}
            {% endif %}
            {% notifications_unread as unread_count %}
            {% if unread_count %}
                <span class="layui-badge-dot" style="left: 0; top: 20px;"></span>
            {% endif %}
        </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="{% url 'my_notifications:notify_box' %}" target="_blank">
                        通知
                        {% if unread_count %}
                            <span class="layui-badge" style="left: 50%;">{{ unread_count }}</span>
                        {% endif %}</a></dd>
                {% if user.is_superuser %}
                    <dd><a href="{% url 'article:article_create' %}">写文章</a></dd>
                    <dd><a href="{% url 'album:album_manage' %}">照片墙</a></dd>
                    <dd><a href="{% url 'imagesource:imagesource_list' %}">图库</a></dd>
                {% endif %}
                <dd><a href="/accounts/logout">退出登录</a></dd>
            </dl>
        </li>

    {% else %}
        <li class="layui-nav-item "
            style="float: right;">
            <a href="/accounts/weibo/login/?process=login">
                登录
            </a>
        </li>
    {% endif %}

    <!-- 搜索框 -->
    <li style="float: right; margin: 12px 20px;"
        class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"
    >
        <form role="search"
              method="get"
              id="searchform"
              action="{% url 'haystack_search' %}"
        >
            <input style=" background-color: #dddddd"
                   type="search"
                   name="q"
                   placeholder="搜索文章.."
                   required
                   class="layui-input"
            >
        </form>
    </li>
    <li class="layui-nav-item layui-hide-md layui-hide-xs"
        style="float: right"
    >
        <a href="#" onclick="mobile_search()">
            <i class="layui-icon layui-icon-search" style="font-weight: bold"></i>
        </a>
    </li>


</ul>

<script type="text/javascript">
    //注意：layui导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    function mobile_search() {
        layui.use('layer', function () {
            var layer2 = layui.layer;

            layer2.open({
                title: '搜索文章..',
                type: 1,
                shadeClose: true,
                area: '300px',
                content: '<form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">\n' +
                    '<input style=" background-color: #dddddd" type="search" name="q" placeholder="输入回车确认" required\n' +
                    'class="layui-input">\n' +
                    '</form>'
            });
        });
    }

</script>