<!-- 知识产权署名 -->
<p class="layui-text layui-elem-quote layui-quote-nm">
    <a rel="license"
       href="https://creativecommons.org/licenses/by-nc/4.0/"
       target="_blank"
    >
        <img alt="知识共享许可协议"
             style="border-width:0"
             src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"
             title="知识共享署名/非商业性使用"
        />
    </a>
    <span>
        本作品由
        <a xmlns:cc="https://creativecommons.org/ns#"
           href="https://www.dusaiphoto.com"
           property="cc:attributionName"
           rel="cc:attributionURL"
        >
            杜赛
        </a>
        采用
        <a rel="license"
           href="https://creativecommons.org/licenses/by-nc/4.0/"
           target="_blank"
        >
            知识共享署名-非商业性使用 4.0 国际许可协议
        </a>
        进行许可。
    </span>
</p>