{% load staticfiles %}
<div class="card mb-4 mt-4">
    <a href="https://mp.weixin.qq.com/s/UsF3Pt_96vd6sRn1SNVtcg"
       target="_blank">
        <img src="{% static 'adv/想你.jpeg' %}"
             class="card-img-top"
        >
    </a>
</div>

<div class="card mb-4">
    <a href="http://www.specube.cn/" target="_blank">
        <img src="{% static 'adv/济南斯派克.jpg' %}"
             class="card-img-top">
    </a>
</div>

<div class="card mb-4">
    <div class="card-body">
        <p class="card-title text-muted">
            <i class="fas fa-link" style="color: lightpink;"></i> 友情链接
        </p>
        <p class="card-text">
            <img src="https://frostming.com/static/images/favicon.png"
                 alt="favicon"
                 style="max-width: 12%; border-radius: 50%"
            >
            <a href="https://frostming.com/" target="_blank"
               class=" text-muted"
            >
                Frost's Blog
            </a>
        </p>
        <p class="card-text">
            <img src="https://harttle.land/assets/img/avatar.jpg"
                 alt="favicon"
                 style="max-width: 12%; border-radius: 50%"
            >
            <a href="https://harttle.land/" target="_blank"
               class=" text-muted"
            >
                Harttle Land
            </a>
        </p>
        <p class="card-text">
            <img src="https://stormsha.com/static/images/picture.ico"
                 alt="favicon"
                 style="max-width: 12%; border-radius: 50%"
            >
            <a href="https://stormsha.com/" target="_blank"
               class=" text-muted"
            >
                静觅 StormSha
            </a>
        </p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p class="card-text text-muted">
            <i class="fas fa-envelope"
               style="color: yellowgreen;"
            ></i> 推广</p>
        <p class="mb-0" style="text-align: center">
            <a href="mailto:dusaiphoto@foxmail.com" class="text-muted">赞助/友链</a>
        </p>
    </div>
</div>
<br/>
<br/>