{% load mptt_tags %}
{% load weibo_utils %}
{% load get_userinfo %}
{% load staticfiles %}

<!-- ckeditor -->
<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/prism/css/prism.css' %}">

{#发表评论#}
{% if user.is_authenticated %}
    <div>
        <form id="comment_form"
              action="{% url 'comments:post_comment' article.id %}"
              method="post">
            {% csrf_token %}
            <div>
                <h5>
                    发表评论：
                </h5>

                <!-- ckeditor 正文 -->
                {{ comment_form.body }}

            </div>

            <input type="hidden" name="article_type" value={{ article_type }}>


            <button class="btn btn-primary mt-2" id="submit_btn" type="submit"
                    name="submit"><i class="fas fa-paper-plane"></i> 发布
            </button>
        </form>
    </div>

{% else %}
    <br/>
    <br/>
    <div style="text-align: center">
        <div>
            <h5 class="text-muted" id="weibologin">
                <a href="{% url 'account_login' %}">
                    登录
                </a>
                后回复
            </h5>
            <div style="text-align: center" class="container-fluid mb-4">
                <div>
                    <a href="/accounts/weibo/login/?process=login" class="mr-2" id="weibo_a"><i class="fab fa-weibo"
                                                                                                style="font-size: 3em; color: indianred;"></i></a>
                    <a href="/accounts/github/login/?process=login" id="github_a"><i class="fab fa-github"
                                                                                     style="font-size: 3em; color: dimgray;"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{#显示mptt层级评论#}
<br>
<br>
<h5 id="Fcomments" class="mt-4 alert alert-info">共有{{ article.comments.count }}条评论</h5>
<div>
    <div>
        {% recursetree comments %}
            <hr>
            <div class="row no-gutters">
                <div class="col-2 col-sm-1 mr-2" id="F{{ node.id }}">
                    <div style="text-align: center">
                        {% get_userinfo node.user.id as userinfo %}
                        {% if node.user.socialaccount_set.all.0.get_avatar_url %}
                            <!-- 第三方头像 -->
                            <img src="{% translate_avatar_ssl node.user.socialaccount_set.all.0.get_avatar_url %}"
                                 alt="avatar"
                                    {% if node.reply_to %}
                                 style="width: 80%; border-radius: 20%"
                                    {% else %}
                                 style="width: 90%; border-radius: 20%"
                                    {% endif %}
                            >

                        {% elif userinfo.avatar %}
                            <!-- 本地头像 -->
                            {% if 'static' in userinfo.avatar.url %}
                                <img src="{{ userinfo.avatar }}"
                                     alt="avatar"
                                        {% if node.reply_to %}
                                     style="width: 80%; border-radius: 20%"
                                        {% else %}
                                     style="width: 90%; border-radius: 20%"
                                        {% endif %}
                                >
                            {% else %}
                                <img src="{{ userinfo.avatar.url }}"
                                     alt="avatar"
                                        {% if node.reply_to %}
                                     style="width: 80%; border-radius: 20%"
                                        {% else %}
                                     style="width: 90%; border-radius: 20%"
                                        {% endif %}
                                >
                            {% endif %}

                        {% else %}
                            <!-- 无头像 -->
                            <img src="{% static 'default_avatar.jpg' %}"
                                 alt="avatar"
                                    {% if node.reply_to %}
                                 style="width: 80%; border-radius: 20%"
                                    {% else %}
                                 style="width: 90%; border-radius: 20%"
                                    {% endif %}
                            >
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div style="color: gray;">
                        {% if user == node.user %}
                            <i class="fas fa-user-tie" style="color: orange;"></i>
                        {% endif %}
                        {{ node.user }}
                        {% if node.user.is_superuser %}
                            <i style="color: #ff5500;">[博主]</i>
                        {% elif node.user.is_staff %}
                            <i style="color: #5897fb;">[管理员]</i>
                        {% endif %}
                        {% if node.reply_to %}
                            <i class="far fa-arrow-alt-circle-right" style="color: cornflowerblue;"></i>
                            {{ node.reply_to }}
                            {% if node.reply_to.is_superuser %}
                                <i style="color: #ff5500;">[博主]</i>
                            {% elif node.reply_to.is_staff %}
                                <i style="color: #5897fb;">[管理员]</i>
                            {% endif %}
                        {% endif %}
                    </div>

                    <!-- 正文 -->
                    {% if node.is_deleted %}
                        {% if node.is_deleted_by_staff %}
                            <div style="text-align: center;"
                                 class="alert alert-danger"
                            >
                                本回复已被 [博主] 删除
                            </div>
                        {% else %}

                            <div style="text-align: center;"
                                 class="alert alert-danger"
                            >
                                本回复已被 {{ node.user }} 删除
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="mt-3 mb-1">{{ node.body|safe }}</p>
                    {% endif %}

                    <!-- 附加信息 -->
                    <div style="color: #999999;">
                        <p>{{ node.created_time|date:"Y/m/d H:i" }}
                            <a href="{% url 'comments:reply_post_comment' article.id node.id article_type %}"
                               style="color: #01a252">
                                回复
                            </a>

                            <!-- 删除/编辑 -->
                            {% if node.user == user or user.is_staff %}
                                {% if not node.is_deleted %}
                                    <a href="{% url 'comments:edit' node.id %}?article_type={{ article_type }}"
                                       style="color: lightskyblue;">
                                        编辑
                                    </a>
                                    <span style="float: right">
                                        <a href="javascript:"
                                           title="删除"
                                           onclick="confirm_delete({{ node.id }});"
                                        >
                                            <i class="far fa-trash-alt"
                                               style="color: darkred;"
                                            ></i>
                                        </a>
                                    </span>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    {% if not node.is_leaf_node %}
                        <div class="children">
                            {{ children }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endrecursetree %}
    </div>
</div>


<!-- ckeditor -->
<script type="text/javascript"
        src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>$(".django-ckeditor-widget").removeAttr('style');</script>

<script>
    // 删除文章的函数
    confirm_delete = function (node_id) {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "当心！",
            // 正文
            content: "确认删除此回复吗？",
            shadeClose: true,
            anim: 6,
            // 点击确定按钮后调用的回调函数
            yes: function (index, layero) {
                // 指定应当前往的 url
                location.href = "{% url 'comments:soft_delete' %}?"
                    + "comment_id=" + node_id +
                    "&" + "article_type=" + "{{ article_type }}"
            },
        })
    }
    $('#github_a').on('mouseenter', function () {
        this.index = layer.tips('以Github账号登录', this, {
            time: -1,
            maxWidth: 280,
            tips: [3, 'dimgray']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });

    $('#weibo_a').on('mouseenter', function () {
        this.index = layer.tips('以新浪微博账号登录', this, {
            time: -1,
            maxWidth: 280,
            tips: [3, 'indianred']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });

</script>