{% load mptt_tags %}
{% load weibo_utils %}
{% load staticfiles %}
{% load static %}
<!-- ckeditor -->
<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/prism/css/prism.css' %}">

{#发表评论#}
{% if user.is_authenticated %}
    <div>
        <form id="comment_form"
              class="layui-form"
              action="{% url 'comments:post_comment' article.id %}"
              method="post">
            {% csrf_token %}
            <div class="layui-form-item layui-form-text">
                <h3 style="color: green; margin-bottom: 10px">
                    发表评论：
                </h3>

                <!-- ckeditor 正文 -->
                {{ comment_form.body }}

            </div>

            <input type="hidden" name="article_type" value={{ article_type }}>


            <div class="layui-form-item">
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="submit_btn" type="submit"
                        name="submit"><i class="layui-icon layui-icon-release"></i> 发布
                </button>
                <input type="hidden" name="next" value="{{ article.get_absolute_url }}"/>
            </div>
        </form>
    </div>

{% else %}
    <br/>
    <br/>
    <div class="" style="text-align: center">
        <div>
            <div class="layui-text" style="font-size: large" id="weibologin"><span>登录后回复</span></div>
            <div class="" style="margin-top: 10px">
                <span class="weibo mr-3">
                    <a href="/accounts/weibo/login/?process=login">
                        <i class="layui-icon layui-icon-login-weibo"
                           style="font-size: xx-large; color: #ee771a;" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
{% endif %}


{#显示mptt层级评论#}

<br/>
<br/>
<br/>
<h2>共有{{ article.comments.count }}条评论</h2>
<div>
    <ul>
        {% recursetree comments %}
            <div class="layui-row">
                <hr/>
                <div class="layui-col-xs2 layui-col-sm1" id="F{{ node.id }}">
                    <div style="text-align: center">
                        {% if node.user.socialaccount_set.all.0.get_avatar_url %}
                            {% if node.reply_to %}
                                <img src="{% translate_avatar_ssl node.user.socialaccount_set.all.0.get_avatar_url %}"
                                     style="width: 60%; border-radius: 20%"
                                     alt="avatar"
                                >
                            {% else %}
                                <img src="{% translate_avatar_ssl node.user.socialaccount_set.all.0.get_avatar_url %}"
                                     style="width: 80%; border-radius: 20%"
                                     alt="avatar"
                                >
                            {% endif %}
                        {% else %}
                            {% if node.reply_to %}
                                <img src="{% static 'default_avatar.jpg' %}"
                                     style="width: 60%; border-radius: 20%"
                                     alt="avatar"
                                >
                            {% else %}
                                <img src="{% static 'default_avatar.jpg' %}"
                                     style="width: 80%; border-radius: 20%"
                                     alt="avatar"
                                >
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="layui-col-xs10 layui-col-sm11"

                >
                    <div style="color: gray;">
                        {% if user == node.user %}
                            <span class="layui-badge layui-bg-orange">
                            <i class="layui-icon layui-icon-username"
                               style="margin: 0 -4px 0 -4px;"
                            ></i>
                        </span>
                        {% endif %}
                        {{ node.user }}
                        {% if node.user.is_superuser %}
                            <i style="color: #ff5500;">[博主]</i>
                        {% elif node.user.is_staff %}
                            <i style="color: #5897fb;">[管理员]</i>
                        {% endif %}
                        {% if node.reply_to %}
                            <i class="layui-icon layui-icon-next"></i> {{ node.reply_to }}
                            {% if node.reply_to.is_superuser %}
                                <i style="color: #ff5500;">[博主]</i>
                            {% elif node.reply_to.is_staff %}
                                <i style="color: #5897fb;">[管理员]</i>
                            {% endif %}
                        {% endif %}
                    </div>

                    <!-- 正文 -->
                    {% if node.is_deleted %}
                        {% if node.is_deleted_by_staff %}
                            <div style="background-color: #ffecec;
                                    color: darkred;
                                    text-align: center;
                                    padding-top: 10px;
                                    padding-bottom: 10px;"
                            >
                                <p>本回复已被 [博主] 删除</p>
                            </div>
                        {% else %}

                            <div style="background-color: #ffecec;
                                    color: darkred;
                                    text-align: center;
                                    padding-top: 10px;
                                    padding-bottom: 10px;"
                            >
                                <p>本回复已被 {{ node.user }} 删除</p>
                            </div>
                        {% endif %}
                    {% else %}
                        <br>
                        <p>{{ node.body|safe }}</p>
                        <br>
                    {% endif %}

                    <!-- 附加信息 -->
                    <div style="color: #999999;">
                        <p>{{ node.created_time|date:"Y-m-d H:i:s" }}
                            <a href="{% url 'comments:reply_post_comment' article.id node.id article_type %}"
                               style="color: #01a252">
                                回复
                            </a>

                            <!-- 删除/编辑 -->
                            {% if node.user == user or user.is_staff %}
                                {% if not node.is_deleted %}
                                    <a href="{% url 'comments:edit' node.id %}?article_type={{ article_type }}"
                                       style="color: lightskyblue;">
                                        编辑
                                    </a>
                                    <span style=" float: right">
                                        <a href="javascript:"
                                           title="删除"
                                           onclick="confirm_delete({{ node.id }});"
                                        >
                                            <i class="layui-icon layui-icon-delete"
                                               style="color: darkred; font-size: large"
                                            ></i>
                                        </a>
                                    </span>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endrecursetree %}
    </ul>
</div>



<!-- ckeditor -->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>$(".django-ckeditor-widget").removeAttr('style');</script>

<script>
    // 删除文章的函数
    confirm_delete = function (node_id) {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "当心！",
            // 正文
            content: "确认删除此回复吗？",
            shadeClose: true,
            anim: 6,
            // 点击确定按钮后调用的回调函数
            yes: function (index, layero) {
                // 指定应当前往的 url
                location.href = "{% url 'comments:soft_delete' %}?"
                    + "comment_id=" + node_id +
                    "&" + "article_type=" + "{{ article_type }}"
            },
        })
    }
</script>