{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% block title %}编辑回复 - 杜赛的个人网站{% endblock %}
{% block content %}
    <div class="layui-card layui-card-body">
        <form id="comment_form"
              class="layui-form"
              method="post"
        >
            {% csrf_token %}
            <div class="layui-form-item layui-form-text">
                <h3 style="color: green; margin-bottom: 10px;">
                    编辑回复：
                </h3>
                <textarea rows="16"
                          id="id_body"
                          class="layui-textarea"
                          name="body"
                          required
                          placeholder="请输入评论内容（暂不支持表情符号）"
                >{{ comment.body }}</textarea>
            </div>
            <input type="hidden"
                   name="article_type"
                   value="{{ article_type }}"
            >
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-sm"
                        id="submit_btn"
                        type="submit"
                        name="submit"
                >
                    <i class="layui-icon layui-icon-release"></i> 更新
                </button>
            </div>
        </form>
    </div>
{% endblock %}