{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% block title %}编辑回复 - 杜赛的个人网站{% endblock %}
{% block content %}
    <!-- ckeditor -->
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/prism/css/prism.css' %}">

    <div class="layui-card layui-card-body">
        <form id="comment_form"
              class="layui-form"
              method="post"
        >
            {% csrf_token %}
            <div class="layui-form-item layui-form-text">
                <h3 style="color: green; margin-bottom: 10px;">
                    编辑回复：
                </h3>
                {{ comment_form.body }}
            </div>
            <input type="hidden"
                   name="article_type"
                   value="{{ article_type }}"
            >
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-sm"
                        id="submit_btn"
                        type="submit"
                        name="submit"
                >
                    <i class="layui-icon layui-icon-release"></i> 更新
                </button>
                <button class="layui-btn
                               layui-btn-sm
                               layui-btn-primary"
                        onclick="history.back(-1);"
                >
                    返回
                </button>
            </div>
        </form>
    </div>



    <!-- ckeditor -->
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>$(".django-ckeditor-widget").removeAttr('style');</script>

{% endblock %}