{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% block title %}回复{{ comment.user }} - 杜赛的个人网站{% endblock %}
{% block content %}
    <!-- ckeditor -->
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/prism/css/prism.css' %}">

    <div>
        <div class="mt-4">
            <h4>{{ comment.user }} 说：</h4>
            <!-- 正文 -->
            {% if comment.is_deleted %}
                {% if comment.is_deleted_by_staff %}
                    <div style="text-align: center;"
                         class="alert alert-danger"
                    >
                        本回复已被 [博主] 删除
                    </div>
                {% else %}

                    <div style="text-align: center;"
                         class="alert alert-danger"
                    >
                        本回复已被 {{ comment.user }} 删除
                    </div>
                {% endif %}
            {% else %}
                <p>{{ comment.body|safe }}</p>
            {% endif %}
        </div>
        <hr>
        <form id="comment_form"
              action="{% url 'comments:reply_post_comment' article_id node_id article_type %}"
              method="post"
        >
            {% csrf_token %}
            <div>
                <h5>
                    我的回复：
                </h5>
                <!-- ckeditor 正文 -->
                {{ comment_form.body }}

            </div>
            <input type="hidden"
                   name="article_type"
                   value="{{ article_type }}"
            >
            <div class="mt-2 mb-4">
                <button class="btn btn-primary"
                        id="submit_btn"
                        type="submit"
                        name="submit"
                >
                    <i class="fas fa-paper-plane"></i> 发布
                </button>
                <button class="btn btn-secondary btn-sm ml-2"
                        onclick="window.history.back(); return false;"
                >
                    返回
                </button>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>

    <!-- ckeditor -->
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>$(".django-ckeditor-widget").removeAttr('style');</script>

{% endblock %}