{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}图库管理{% endblock %}
{% block content %}
    <br/>
    {% if user.is_superuser %}
        {% for image in images %}
            <table class="layui-table" lay-size="sm">
                <colgroup>
                    <col style="width: 120px;">
                    <col style="width: 100px">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>图片</th>
                    <th>上传时间</th>
                    <th>地址</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="{{ image.avatar_thumbnail.url }}" style="max-height: 100px"></td>
                    <td>{{ image.created }}</td>
                    <td>{{ image.avatar_thumbnail.url }}</td>
                </tr>
                </tbody>
            </table>

        {% endfor %}
    {% endif %}


{% endblock %}