{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}图库管理 - 杜赛的个人网站{% endblock %}
{% block content %}

    {#    clipboard: 复制url到剪切板#}
    <script src="{% static 'clipboard/dist/clipboard.min.js' %}"></script>
    <script>
        var clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function (e) {

            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('复制成功');
            });

            e.clearSelection();
        });

        clipboard.on('error', function (e) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('Error');
            });
        });
        copy_success = function () {
            layer.msg('复制成功')

        };
    </script>
    <div class="container">
        <div class="">
            {% if user.is_superuser %}
                {#        处理上传的图片#}
                <hr>
                <form action="."
                      method="post"
                      enctype="multipart/form-data"
                >{% csrf_token %}

                    <div class="form-group">
                        <label for="upload">上传：</label>
                        <input type="file"
                               id="upload"
                               name="file_field"
                               required
                               placeholder="请输入标题"
                               autocomplete="off"
                               class="form-control-file"
                               multiple="multiple"
                        >
                    </div>

                    <div class="form-group">
                        <input type="submit" value="提交新照片" class="btn btn-primary">
                    </div>
                </form>
                <hr>

                {#        循环显示图片list#}
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">图片</th>
                        <th scope="col">地址</th>
                        <th scope="col">上传时间</th>
                    </tr>
                    </thead>
                    {% for image in images %}

                        <tbody>
                        <tr>
                            <th scope="col">
                                <img src="{{ image.avatar_thumbnail.url }}"
                                     style="max-width: 30%"
                                     alt="图片"
                                >
                            </th>
                            <td>
                                <button class="
                                        btn
                                        btn-warning
                                        "
                                        onclick="copy_success()"
                                        data-clipboard-text="https://www.dusaiphoto.com{{ image.avatar_thumbnail.url }}"
                                >
                                    复制
                                </button>
                            </td>
                            <td>{{ image.created }}</td>
                        </tr>
                        </tbody>

                    {% endfor %}
                </table>

            {% endif %}
            {% include 'paginator.html' %}
            <br/>
            <hr/>
        </div>
    </div>


{% endblock %}