{% for article in articles %}
    <div>
        {% if article.avatar_thumbnail %}
            <div class="layui-col-md2">
                <img src="{{ article.avatar_thumbnail.url }}" style="margin-bottom: 8px;max-width: 95%">
            </div>
        {% endif %}
        <div>
            <p class="layui-text" style="color: #8D8D8D;">
                {#                    栏目#}
                {% if article.column.title == '编程' %}
                    <a href="{% url 'article:article_list_by_column' article.column.id %}"
                       class="layui-btn layui-btn-xs">{{ article.column }} </a>
                {% elif article.column.title == '摄影' %}
                    <a href="{% url 'article:article_list_by_column' article.column.id %}"
                       class="layui-btn layui-btn-warm layui-btn-xs">{{ article.column }} </a>
                {% elif article.column.title == '光学' %}
                    <a href="{% url 'article:article_list_by_column' article.column.id %}"
                       class="layui-btn layui-btn-normal layui-btn-xs">{{ article.column }} </a>
                {% elif article.column.title == '闲聊' %}
                    <a href="{% url 'article:article_list_by_column' article.column.id %}"
                       class="layui-btn layui-btn-primary layui-btn-xs">{{ article.column }} </a>
                {% endif %}

                {#标签#}
                {% for tag in article.tags.all %}
                    <a class="layui-bg-gray"
                       href="{% url 'article:article_list_by_tag' tag %}">{{ tag }}</a>
                {% endfor %}

            <h2><a href="{{ article.get_absolute_url }}" style="font-weight: bold">{{ article.title }}</a></h2>
            <p class="layui-text" style="color: #8D8D8D;">{{ article.body|slice:'100' }}</p>
            <p class="layui-text"><i class="layui-icon layui-icon-read"
                                     style="color: #01a252;"></i> {{ article.total_views }}
                <i class="layui-icon layui-icon-dialogue" style="color: #DE8E30;"></i> {{ article.comments.count }}
                <i class="layui-icon layui-icon-log" style="color: #1E9FFF;"></i> {{ article.created|date:"Y-m-d" }}
                {#            教程#}
                {% if article.course_id %}
                    <i class="layui-icon layui-icon-list" style="color: #ee00ee;"></i>
                    <a href="{% url 'course:course_articles_list' article.course_id %}"
                       style="color: #8D8D8D;">{{ article.course.title }}</a>
                {% endif %}</p>

        </div>
        {#        <br/>#}
        <hr/>
    </div>
{% endfor %}

{% include 'paginator.html' %}