{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}文章列表{% endblock %}
{% block content %}

    <div class="layui-card layui-card-body">
        <div class="layui-btn-container">
            <a class="layui-btn layui-btn-radius layui-btn-sm layui-btn-primary"
               href="{% url 'article:article_list' %}">综合</a>
            <a class="layui-btn layui-btn-radius layui-btn-sm layui-btn-primary"
               href="{% url 'article:article_list_by_column' 1 %}">编程</a>
            <a class="layui-btn layui-btn-radius layui-btn-sm layui-btn-primary"
               href="{% url 'article:article_list_by_column' 2 %}">摄影</a>
            <a class="layui-btn layui-btn-radius layui-btn-sm layui-btn-primary"
               href="{% url 'article:article_list_by_column' 4 %}">光学</a>
            <a class="layui-btn layui-btn-radius layui-btn-sm layui-btn-primary"
               href="{% url 'article:article_list_by_column' 3 %}">闲聊</a>

        </div>
        {% if articles.0 %}
            <span class="layui-breadcrumb">
            <a href="{% url 'article:article_list_by_column' articles.0.column_id %}">最近</a>
            <a href="{% url 'article:article_list_by_column_most_viewed' articles.0.column_id %}">热门</a>
        </span>
        {% endif %}

        <hr/>
        {% include 'article/article_list_base.html' %}
    </div>
    <style>
        a:hover {
            color: #01a252;
        }
    </style>

{% endblock %}