{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}写文章 - 杜赛的个人网站{% endblock %}
{% block content %}
    {# Markdown css #}
    <link rel="stylesheet" href="{% static 'editormd/css/editormd.min.css' %}">
    <div class="container">
        <div class="mt-2 mb-4">
            <form action="." method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text"
                           name="title"
                           required
                           placeholder="请输入标题.."
                           autocomplete="off"
                           class="form-control"
                    >
                </div>
                <div class="form-group">
                    <label for="course_title">教程中标题</label>
                    <input type="text"
                           name="course_title"
                           placeholder="请输入标题.."
                           autocomplete="off"
                           class="form-control"
                    >
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label for="column">栏目</label>
                        <select name="column" class="custom-select mr-sm-2">
                            <option value="">请选择栏目..</option>
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto my-1">
                        <label for="course">教程</label>
                        <select name="course" class="custom-select mr-sm-2">
                            <option value="">请选择教程..</option>
                            {% for course in courses %}
                                <option value="{{ course.id }}">{{ course.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto my-1">
                        <label for="course_sequence">教程序号</label>
                        <input type="text"
                               name="course_sequence"
                               placeholder="教程序号.."
                               autocomplete="off"
                               class="form-control"
                        >
                    </div>
                </div>

                <div class="form-group">
                    <label class="layui-form-label">标签</label>
                    <input type="text" name="tags" placeholder="标签" autocomplete="off"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="url">标题图</label>
                    <input type="text" name="url" placeholder="请输入url" autocomplete="off"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <div id="editormd">
                        <textarea style="display: none;" id="id_body" name="body" required></textarea>
                    </div>
                </div>
                <input type="submit" value="提交" class="btn btn-primary">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'layui-v2.3.0/layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'editormd/editormd.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            editormd.emoji.path = "http://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/"
            var editor = editormd("editormd", {
                width: "100%",
                height: 640,
                syncScrolling: "single",
                path: "{% static 'editormd/lib/' %}",
                emoji: true
            })
        });

        {#Markdown渲染#}
        layui.use('form', function () {
            var form = layui.form;
            form.val("editform", {
                "title": "{{ article.title }}",   // "name": "value"
                "column": "{{ article.column }}",
                "tags": "{{ article.tags.all|join:',' }}",
                "body": "{{ article.body }}",
                {% if article.avatar_thumbnail %}
                    "url": "{{ article.url }}",
                {% endif %}
                {% if article.course %}
                    "course": "{{ article.course.id }}",
                {% endif %}
            })
        });
    </script>
{% endblock %}