{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}文章列表{% endblock %}
{% block content %}
    <br/>
    <br/>
    <div class="layui-card">
        <header>
            <h1 class="layui-header">{{ article.title }}</h1>
            <p class="layui-text">{{ article.total_views }}浏览</p>
        </header>
        <hr/>
        <link rel="stylesheet" href="{% static 'editormd/css/editormd.preview.css' %}">
        <div id="editormd-view">
        <textarea id="append-test" style="display: none;">
{{ article.body }}
        </textarea>
        </div>
    </div>
    <hr/>

    {#    发表评论#}
    <div class="layui-card">
        <div class="layui-card-header">
            <h2>发表评论</h2>
        </div>
        <form id="comment_form"
              class="layui-form layui-card-body"
              action="{% url 'comments:post_comment' article.id %}"
              method="post">
            {% csrf_token %}
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="id_body">评论： </label>
                <div class="layui-input-block">
                    <textarea rows="6"
                              id="id_body" class="layui-textarea" name="body"
                              placeholder="请输入评论内容"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input class="layui-btn" id="submit_btn" type="submit" name="submit" value="提交"/>
                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}"/>
                </div>
            </div>
        </form>
        <hr/>
    </div>

    {#显示评论#}
    <hr/>
    <div class="layui-card">
        <ul>
            {% recursetree genres %}
                <li class="layui-text">
                    {{ node.user }}
                </li>
                <li class="layui-card-body">
                    <div style="font-size: large">{{ node.body }}</div>
                    <div class="layui-text"><p>{{ node.created_time }} <a
                            href="{% url 'comments:reply_post_comment' article.id node.id %}">回复</a></p></div>
                    <hr/>
                    {% if not node.is_leaf_node %}
                        <ul class="children layui-col-md-offset1 layui-elem-quote">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>

    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'editormd/lib/marked.min.js' %}"></script>
    <script src="{% static 'editormd/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editormd/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editormd/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editormd/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editormd/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editormd/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editormd/editormd.js' %}"></script>
    {#    <script src="{% static 'js/layer.js' %}"></script>#}


    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("editormd-view", {
                htmlDecode: "style,script,iframe", //you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            })
        });
    </script>
    <style>

    </style>
{% endblock %}