{% extends 'base_with_rslider.html' %}
{% load staticfiles %}
{% block title %}杜赛的个人网站{% endblock %}
{% block content %}
    <div class="">
        <!-- 栏目导航 -->
        {% include 'article/navigator.html' %}

        <!-- RSS -->
        {#            <a href="#" style="float: right;" id="add_rss">#}
        {#                <i class="layui-icon layui-icon-cellphone"#}
        {#                   onclick="_hmt.push(['_trackEvent', 'rss', 'click', '订阅'])"#}
        {#                   style="color: darkgoldenrod;"#}
        {#                ></i>#}
        {#                <span>RSS 订阅</span>#}
        {#            </a>#}


        <!-- 提示语 -->
        {% if tag %}
            <h5>
                <i class="fas fa-search"></i>
                标签 "<span style="color: red;">{{ tag }}</span>" 的相关文章如下：
            </h5>
        {% endif %}


        <!-- 列表循环 -->
        {% for article in articles %}
            <div class="card mb-2">
                <div class="row no-gutters align-items-center">

                    <div class="col">

                        <div class="card-body">
                            <!-- 标题 -->
                            <h4 class="mt-0">
                                <a href="{{ article.get_absolute_url }}"
                                   style="font-weight: bold; color: black;"
                                >
                                    {{ article.title }}
                                </a>
                            </h4>

                            <!-- 文章标题的栏目 -->
                            <div class="mb-2 ">
                                {% if article.column.id %}
                                    <a href="?column_id={{ article.column.id }}"
                                       role="button"
                                       class="
                                    btn
                                    btn-sm
                                    {% if article.column.title == '编程' %}
                                    btn-outline-success
                                    {% elif article.column.title == '摄影' %}
                                    btn-outline-warning
                                    {% elif article.column.title == '光学' %}
                                    btn-outline-primary
                                    {% elif article.column.title == '闲聊' %}
                                    btn-outline-light
                                    {% endif %}
                                    "
                                    >
                                        {{ article.column }}
                                    </a>
                                {% endif %}

                                <!-- 标签 -->
                                {% for tag in article.tags.all %}
                                    <a class="badge badge-pill badge-light"
                                       href="?tag={{ tag }}"
                                       style="color: grey;"
                                    >
                                        {{ tag }}</a>
                                {% endfor %}
                            </div>


                            <!-- 附加信息 -->
                            <p class="text-monospace mb-0" style="color: grey;">
                                <i class="fas fa-eye" style="color: lightskyblue;"></i>
                                {{ article.total_views }}
                                <i class="fas fa-comments" style="color: yellowgreen;"></i>
                                {{ article.comments.count }}
                                <i class="fas fa-clock" style="color: pink;"></i>
                                {{ article.created|date:"Y/m/d" }}
                                <!-- 教程 -->
                                {% if article.course_id %}
                                    <i class="fas fa-book" style="color: #f0c674;"></i>
                                    <a href="{% url 'course:course_articles_list' article.course_id %}"
                                       style="color: #8D8D8D;">
                                        {{ article.course.title }}
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% if article.avatar_thumbnail %}
                        <div class="col-4 d-none d-md-block">
                            <img src="{{ article.avatar_thumbnail.url }}"
                                 class="card-img"
                                 alt="缩略图"
                            >
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% include 'paginator.html' %}
    </div>


    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $("#add_rss").click(function () {#}
    {#                layui.use('layer', function () {#}
    {#                    var layer = layui.layer;#}
    {#                    layer.open({#}
    {#                        type: 1,#}
    {#                        shadeClose: true,#}
    {#                        title: '订阅栏目',#}
    {#                        content: '<div class="layui-card">\n' +#}
    {#                        '    <h2 class="layui-card-header">您想订阅哪一个栏目的文章？</h2>\n' +#}
    {#                        '    <div class="layui-card-body">\n' +#}
    {#                        '        <div class="rss">\n' +#}
    {#                        '            <a href="{% url 'rss' %}" style="color: #ff5500">\n' +#}
    {#                        '                <i class="layui-icon layui-icon-triangle-r"></i>综合</a>\n' +#}
    {#                        '        </div>\n' +#}
    {#                        '        {% for column in columns %}\n'+#}
    {#                            '            <div class="column_rss">\n'+#}
    {#                            '                <a href="{% url 'column_rss' column.id %}" style="color: #01a252">\n'#}
    {#                            +#}
    {#                            '                    <i class="layui-icon layui-icon-triangle-r"></i>{{ column.title }}</a>\n'#}
    {#                            +#}
    {#                            '            </div>\n'+#}
    {#                            '        {% endfor %}\n' +#}
    {#                        '    </div>\n' +#}
    {#                        '</div>' //这里content是一个普通的String#}
    {#                    });#}
    {#layer.msg('hello');#}
    {#                });#}
    {##}
    {#            });#}
    {##}
    {##}
    {#        });#}
    {#    </script>#}

    {#    <style>#}
    {#        a:hover {#}
    {#            color: #01a252;#}
    {#        }#}
    {#    </style>#}

{% endblock %}