{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}文章列表{% endblock %}
{% block content %}



    <div class="layui-card layui-card-body">
        {% for article in articles %}
            <div>
                <p class="layui-text" style="color: #8D8D8D;"><a
                        href=""
                        style="color: #8D8D8D;">{{ article.author }}</a> 于 {{ article.created|date:"Y年m月d日 H:i:s" }}
                    发布.</p>
                <h2><a href="{{ article.get_absolute_url }}" style="">{{ article.title }}</a></h2>
                <p class="layui-text" style="color: #8D8D8D;">{{ article.body|slice:'70' }}</p>
                <p class="layui-text"><i class="layui-icon layui-icon-read"
                                         style="color: #01a252;"></i> {{ article.total_views }}
                    <i class="layui-icon layui-icon-dialogue" style="color: #DE8E30;"></i> {{ article.total_comments }}
                </p>
                <hr/>
            </div>
        {% endfor %}
    </div>
    <style>
        a:hover {
            color: #01a252;
        }
    </style>

{% endblock %}