
<!-- 提示语 -->
{% if tag %}
<h2>
    <i class="layui-icon layui-icon-search" style="font-size: x-large"></i>
    标签 "
    <span style="color: red;">
        {{ tag }}
    </span>"
    的相关文章如下：
</h2>
{% endif %}


<!-- 列表循环 -->
{% for article in articles %}
    <hr/>
    <div class="layui-row">
        {% if article.avatar_thumbnail %}
            <div class="layui-col-sm3 layui-hide-xs">
                <img src="{{ article.avatar_thumbnail.url }}"
                     style="max-width: 95%; margin-bottom: 8px; border-radius: 16px"
                     alt="缩略图"
                >
            </div>
            <div class="layui-col-sm9" style="margin-bottom: 6px">
        {% else %}
            <div class="layui-col-sm12" style="margin-bottom: 6px">
        {% endif %}
        <p class="layui-text" style="color: #8D8D8D;">
            <!-- 文章标题的栏目 -->
            {% if article.column.id %}
                <a href="?column_id={{ article.column.id }}"
                   class=   "
                            layui-btn
                            layui-btn-xs
                            {% if article.column.title == '摄影' %}
                            layui-btn-warm
                            {% elif article.column.title == '光学' %}
                            layui-btn-normal
                            {% elif article.column.title == '闲聊' %}
                            layui-btn-primary
                            {% endif %}
                            "
                >
                    {{ article.column }}
                </a>
            {% endif %}

            <!-- 标签 -->
            {% for tag in article.tags.all %}
                <a class="layui-bg-gray"
                   href="?tag={{ tag }}"
                >
                    {{ tag }}
                </a>
            {% endfor %}

        <h2>
            <a href="{{ article.get_absolute_url }}"
               style="font-weight: bold"
               target="_blank"
            >
                {{ article.title }}
            </a>
        </h2>
        <p class="layui-text"
           style="color: #8D8D8D; word-break: break-all"
        >
            {{ article.body|truncatechars:120 }}
        </p>
        <p class="layui-text">
            <i class="
                    layui-icon
                    layui-icon-read"
               style="color: #01a252;"></i>
            {{ article.total_views }}
            <i class="
                    layui-icon
                    layui-icon-dialogue"
               style="color: #DE8E30;"></i>
            {{ article.comments.count }}
            <i class="
                    layui-icon
                    layui-icon-log"
               style="color: #1E9FFF;"></i>
            {{ article.created|date:"Y-m-d" }}
            <!-- 教程 -->
            {% if article.course_id %}
                <i class="
                        layui-icon
                        layui-icon-list"
                   style="color: #ee00ee;"></i>
                <a href="{% url 'course:course_articles_list' article.course_id %}"
                   style="color: #8D8D8D;">
                    {{ article.course.title }}
                </a>
            {% endif %}
        </p>
        </div>
    </div>
{% endfor %}

{% include 'paginator.html' %}