{% load staticfiles %}

<style>
    div#article_body p img {
        max-width: 95%;
        box-shadow: 0 0 50px grey;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    div#article_body pre {
        color: white;
    }

    div#article_body span.err {
        color: white;
    }

    div#article_body h2 {
        margin-top: 1.2em;
        margin-bottom: 0.6em;
        padding-bottom: 6px;
        border-bottom: 1px solid lightgrey;
    }

    div#article_body h3 {
        margin-top: 1em;
        margin-bottom: 0.4em;
    }

    div#article_body blockquote p {
        color: grey;
        font-style: italic;
        background-color: #f5f5f5;
        padding: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .progress-indicator {
        z-index: 100;
    }
</style>

<div class="mt-4">
    <div>
        <div>
            <h1>{{ article.title }}</h1>
            <p class="text-muted">
                {{ article.total_views }}阅读 ·
                {{ article.comments.count }}评论 ·
                {{ article.created|date:"Y/m/d" }}发布 &nbsp;
                <a href="#Fcomments"
                   style="color: cornflowerblue;
                   text-decoration-line: underline;"
                >
                    前往评论
                </a>
            </p>
        </div>
        <div id="article_body">
            {{ article.body|safe }}
        </div>
    </div>


    <!-- 知识产权署名 -->
    {% include 'license.html' %}

    <div style="text-align: center">
        <a href="/admiration/" target="_blank"
           class="btn btn-warning text-white btn-sm"
           role="button"
           style="text-align: center"
        >写的不错，朕要赏
        </a>
    </div>
    <br/>
    <br/>

    {% if pre_article %}
        <a class="btn btn-info btn-sm"
           href="{{ pre_article.get_absolute_url }}"><< {{ pre_article.course_title }}</a>
    {% endif %}
    {% if next_article %}
        <a class="btn btn-info btn-sm" style="float: right;"
           href="{{ next_article.get_absolute_url }}">{{ next_article.course_title }} >></a>
        <br>
    {% endif %}

    <hr/>

    <!-- 评论模块 -->
    {% include 'comments/comment_module.html' %}
</div>

{% block script %}

    <script src="{% static 'progress_indicator/progress_indicator.js' %}"></script>

    <script>
        $('div#article_body img').parent('p').css({'text-align': 'center'});
        $('div#article_body table').addClass('table table-bordered');
        $('div#article_body thead').addClass('thead-light');

        <!-- Author: mqyqingfeng -->
        $(document).ready(function () {
            let progressBar = new ProgressIndicator({color: '#1e90ff'});
        })
    </script>
{% endblock %}
