{% load staticfiles %}

<link rel="stylesheet" href="{% static 'editormd/css/editormd.min.css' %}">
<link rel="stylesheet" href="{% static 'editormd/css/editormd.preview.min.css' %}">

<div class="layui-col-sm10 layui-card layui-card-body">
    <br/>
    <div>
        <div>
            <h1 style="color: black;font-size: xx-large; font-weight: bold; line-height: 110%">{{ article.title }}</h1>
            <br/>
            <p style="color: #8D8D8D;">
                {{ article.total_views }}阅读 ·
                {{ article.comments.count }}评论 ·
                {{ article.created|date:"Y-m-d" }}发布 &nbsp;
                <a href="#Fcomments"
                   style="color: cornflowerblue;
                   text-decoration-line: underline;"
                >
                    前往评论
                </a>
            </p>
        </div>
        <div id="editormd-view">
        <textarea id="append-test" style="display: none">
{{ article.body }}
        </textarea>
        </div>
    </div>
    <br/>
    <br/>
    <div style="text-align: center">
        <a href="/admiration/" target="_blank"
           class="layui-btn layui-btn-warm layui-btn-sm layui-btn-radius">写的不错，朕要赏</a>
    </div>
    <br/>
    <br/>

    {% if pre_article %}
        <a class="layui-btn layui-btn-sm"
           href="{{ pre_article.get_absolute_url }}"><< {{ pre_article.course_title }}</a>
    {% endif %}
    {% if next_article %}
        <a class="layui-btn layui-btn-sm" style="float: right;"
           href="{{ next_article.get_absolute_url }}">{{ next_article.course_title }} >></a>
        <br>
    {% endif %}

    <hr/>

    <!-- 评论模块 -->
    {% include 'comments/comment_module.html' %}
</div>


<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'editormd/lib/marked.min.js' %}"></script>
<script src="{% static 'editormd/lib/prettify.min.js' %}"></script>
<script src="{% static 'editormd/lib/raphael.min.js' %}"></script>
<script src="{% static 'editormd/lib/underscore.min.js' %}"></script>
<script src="{% static 'editormd/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'editormd/lib/flowchart.min.js' %}"></script>
<script src="{% static 'editormd/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'editormd/editormd.js' %}"></script>
<script src="{% static 'layui-v2.3.0/layui/layui.js' %}"></script>


<script type="text/javascript">
    editormd.emoji.path = "http://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/"

    $(function () {
        editormd.markdownToHTML("editormd-view", {
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm: true,    // Using [TOCM]
            tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });


    });
</script>
