{% load staticfiles %}
{% load mptt_tags %}

<link rel="stylesheet" href="{% static 'editormd/css/editormd.css' %}">
<link rel="stylesheet" href="{% static 'editormd/css/editormd.preview.css' %}">

<div class="layui-card layui-card-body">
    <br/>
    <div>
        <div class="">
            <h1 style="color: black;font-size: xx-large; font-weight: bold; line-height: 110%">{{ article.title }}</h1>
            <br/>
            <p style="color: #8D8D8D;">{{ article.total_views }}阅读 · {{ article.comments.count }}评论 ·
                于{{ article.created|date:"Y年m月d日 H:i:s" }}发布
{#                {% if user.is_superuser %}#}
{#                    <a href="{% url 'article:article_update' article.pk %}">编辑</a></p>#}
{#                {% endif %}#}
        </div>
        <div id="editormd-view" class="layui-container">
        <textarea id="append-test" style="display: none;">
{{ article.body }}
        </textarea>
        </div>
    </div>
    <br/>
    <br/>

    {% if pre_article %}
        <a class="layui-btn layui-btn-sm" href="{{ pre_article.get_absolute_url }}"><< {{ pre_article.title }}</a>
    {% endif %}
    {% if next_article %}
        <a class="layui-btn layui-btn-sm" style="float: right;"
           href="{{ next_article.get_absolute_url }}">{{ next_article.title }} >></a>
        <br>
    {% endif %}

    <hr/>

    {#    发表评论#}
    <div>
        <h2>共有{{ article.comments.count }}条评论</h2>
        <br>
        <form id="comment_form"
              class="layui-form"
              action="{% url 'comments:post_comment' article.id %}"
              method="post">
            {% csrf_token %}
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="id_body">发表评论： </label>
                <div class="layui-input-block">
                                    <textarea rows="6"
                                              id="id_body" class="layui-textarea" name="body"
                                              placeholder="请输入评论内容"></textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm layui-btn-primary" id="submit_btn" type="submit"
                            name="submit"><i class="layui-icon layui-icon-release"></i> 发布
                    </button>
                    <input type="hidden" name="next" value="{{ article.get_absolute_url }}"/>
                </div>
            </div>
        </form>
    </div>

    {#显示mptt层级评论#}
    <br/>
    <br/>
    <div>
        <ul>
            {% recursetree comments %}
                <div class="layui-row">
                    <hr/>
                    <div class="layui-col-xs2 layui-col-sm1" id="F{{ node.id }}">
                        <div style="text-align: center">
                            {% if node.user.socialaccount_set.all.0.get_avatar_url %}
                                {% if node.reply_to %}
                                    <img src="{{ node.user.socialaccount_set.all.0.get_avatar_url }}"
                                         style="width: 60%; border-radius: 20%">
                                {% else %}
                                    <img src="{{ node.user.socialaccount_set.all.0.get_avatar_url }}"
                                         style="width: 80%; border-radius: 20%">
                                {% endif %}
                            {% else %}
                                {% if node.reply_to %}
                                    <img src="{% static 'default_avatar.jpg' %}"
                                         style="width: 60%; border-radius: 20%">
                                {% else %}
                                    <img src="{% static 'default_avatar.jpg' %}"
                                         style="width: 80%; border-radius: 20%">
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="layui-col-xs10 layui-col-sm11">
                        {{ node.user }}
                        {% if node.user.is_superuser %}
                            <i style="color: #ff5500;">[博主]</i>
                        {% elif node.user.is_staff %}
                            <i style="color: #5897fb;">[管理员]</i>
                        {% endif %}
                        {% if node.reply_to %}
                            <i class="layui-icon layui-icon-next"></i> {{ node.reply_to }}
                            {% if node.reply_to.is_superuser %}
                                <i style="color: #ff5500;">[博主]</i>
                            {% elif node.user.is_staff %}
                                <i style="color: #5897fb;">[管理员]</i>
                            {% endif %}
                        {% endif %}
                        <div style="font-size: 1.1em; color: black;">{{ node.body }}</div>
                        <div class="layui-text" style="color: #999999;"><p>{{ node.created_time|date:"Y-m-d H:i:s" }}
                            <a href="{% url 'comments:reply_post_comment' article.id node.id %}"
                               style="color: #01a252">回复</a></p></div>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endrecursetree %}
        </ul>
    </div>
</div>

<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'editormd/lib/marked.min.js' %}"></script>
<script src="{% static 'editormd/lib/prettify.min.js' %}"></script>
<script src="{% static 'editormd/lib/raphael.min.js' %}"></script>
<script src="{% static 'editormd/lib/underscore.min.js' %}"></script>
<script src="{% static 'editormd/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'editormd/lib/flowchart.min.js' %}"></script>
<script src="{% static 'editormd/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'editormd/editormd.js' %}"></script>
<script src="{% static 'layui-v2.3.0/layui/layui.js' %}"></script>


<script type="text/javascript">
    editormd.emoji.path = "http://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/"

    {#先调用layer，然后回调生成toc并渲染为html#}
    layui.use('layer', function () {
        var layer = layui.layer;
        layer.open({
            type: 1,
            title: '文章目录',
            shade: 0,
            offset: 'lb',
            maxmin: true,
            moveOut: true,
            {#area: ['300px', '500px'],#}
            content: '<div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container</div>',
            {#layer后回调toc#}
            success: function (layero, index) {
                $(function () {
                    editormd.markdownToHTML("editormd-view", {
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode: "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm: true,    // Using [TOCM]
                        tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji: true,
                        taskList: true,
                        tex: true,  // 默认不解析
                        flowChart: true,  // 默认不解析
                        sequenceDiagram: true,  // 默认不解析
                    });
                });
            }
        });
    });


</script>