<div class="layui-col-sm3 layui-hide-xs" id="article_menu">
    <div class="layui-text" STYLE="font-size: 1.2em" id="top_layer">&nbsp;&nbsp;目录</div>
    <hr id="top_layer">
            <div id="sidebar">
                <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container
                </div>
            </div>
</div>

<style>
    #sidebar {

        margin: -15px 0 -30px -15px;
        border-top: 0;
        border-bottom: 0;
        padding-left: -10px;
    }

    #sidebar:hover {
        overflow: auto;
    }

    #sidebar h1 {
        font-size: 16px;
    }

    #custom-toc-container {
        padding-left: 0;
    }

    #top_layer {
        z-index: 10;
        position: relative;
    }
</style>